{% extends htdocs_layout %}

{% block head_title %}Authorized Entities Directory{% endblock %}
{% block head_pagedescription %}Authorized Entities Directory{% endblock %}

{% block content %}
{% if aedir_provider_lb_hostname %}
<p>
  <a href="https://{{ aedir_provider_lb_hostname }}/web2ldap"
     title="Access to administration UI (web2ldap)">Admin UI (web2ldap)</a> //
  <a href="https://{{ aedir_provider_lb_hostname }}/pwd/"
     title="Access to &AElig;-DIR password self-service">Password self-service</a> //
  <a href="https://{{ aedir_provider_lb_hostname }}/oath/"
     title="Access to OATH-LDAP Token Enrollment Service">OATH enrollment</a>
</p>
{% endif %}

<p class="pagesubtitle">The agile IAM for DevOps</p>

<p>
  <strong>Authorized Entities Directory (&AElig;-DIR)</strong>
  is a Privileged Identity and Access Management (IAM/PIM/PAM)
  based on <a href="https://www.openldap.org">OpenLDAP</a>
</p>

{% if aedir_news %}
<p id="news" class="pagesubtitle">
  News
</p>
<ul>
{% for news_item in aedir_news %}
    <li>{{ news_item }}</li>
{% endfor %}
</ul>
{% endif %}

<p id="objectives" class="pagesubtitle">
  Main Objectives
</p>
<ul>
  <li>Strictly follow <strong>need to know</strong> and <strong>least privilege</strong> principles</li>
  <li>Agile data maintenance by consequent delegation of manageable small areas</li>
  <li>Provide meaningful audit trails for compliance checks</li>
  <li>Secure defaults</li>
</ul>

<p id="key-features" class="pagesubtitle">
  Key Features
</p>
<ul>
  <li>Fine-grained authorization</a></li>
  <li>Fine-grained delegation, ready-to-use role-model</li>
  <li>Role separation, multiple accounts per person</li>
  <li>Secure password handling, SSH key distribution</li>
  <li>Password self-service web application</li>
  <li>Compatible to all LDAP enabled applications without complicated client-side schema mapping</li>
  <li>Two-factor authentication integrated with LDAP, usable by any LDAP enabled application</li>
  <li>High availability out-of-the-box with LDAP server replicas</li>
  <li>Automated installation of turnkey solution with ansible</li>
  <li>TLS everywhere</li>
  <li>Service hardening out-of-the-box (e.g. with AppArmor)</li>
</ul>

<p>
  Find longer introductions:
  <a href="https://stroeder.com/publications.html">
  &AElig;-DIR conference presentations</a>.
</p>

{% endblock content %}
