{% extends htdocs_layout %}

{% block head_title %}Best Practices{% endblock %}
{% block head_pagedescription %}Best Practices / Recommendations{% endblock %}

{% block content %}

<p>
  <strong>Intended Audience:</strong>
  System architects, developers and system administrators
</p>

<ol>
  <li>
    <a href="#naming">Names and identifiers</a>
    <ol>
      <li>
        <a href="#naming-aeUser">User names</a>
        <ol>
          <li><a href="#naming-aeUser">Personal accounts</a></li>
          <li><a href="#naming-aeService">Tool/service accounts</a></li>
        </ol>
      </li>
      <li><a href="#naming-aeHost">Host entries</a></li>
      <li><a href="#naming-aeGroup">User group names</a></li>
      <li><a href="#naming-aeSrvGroup">Service group names</a></li>
    </ol>
  </li>
  <li>
    <a href="#security">Security considerations</a>
    <ol>
      <li><a href="#security-aeService">Using tool/service accounts (aeService)</a></li>
    </ol>
  </li>
  <li>
    <a href="#ae-dir-setup">&AElig;-DIR setup</a>
    <ol>
      <li><a href="#ae-dir-network">Networking</a></li>
      <li><a href="#ae-dir-hostnames">Host names</a></li>
    </ol>
  </li>
</ol>

<h1 id="naming">Names and identifiers</h1>

<h2 id="naming-uid">User identifiers</h2>
<p>
  The user name of an account is stored in attribute <var>uid</var>
  and the POSIX-UID is stored in attribute <var>uidNumber</var>.
</p>
<p>
  Recommendations for user names and POSIX-UIDs:
</p>
<ul>
  <li>
     Must be globally unique!
  </li>
  <li>
    Must never be reused to preserve audit trails
    and file ownership of file archive!
  </li>
  <li>
    Only lower-cased user names!
  </li>
  <li>
    Avoid using non-ASCII user names and other special characters.
  </li>
</ul>

<h3 id="naming-aeUser">Personal accounts</h3>
<p>
  Recommendations for user names (attribute <var>uid</var>) in
  <a href="docs.html#schema-oc-aeUser">aeUser</a> entries:
</p>
<ul>
  <li>
    Do not derive user names from the person's name.
  </li>
  <li>
    It's probably a good idea to let &AElig;-DIR create short random
    ASCII-letter user names.
  </li>
</ul>

<h3 id="naming-aeService">Tool/service accounts</h3>
<p>
  Recommendations for user names (attribute <var>uid</var>) in
  <a href="docs.html#schema-oc-aeService">aeService</a> entries:
</p>
<ul>
  <li>
    Choose a naming scheme to easily distinguish tool/service accounts
    from personal user accounts.
  </li>
  <li>
    Use singular form in user name.
  </li>
</ul>
<p>
  Examples:
</p>
<ul>
  <li>example-test-system-1</li>
  <li>example-test-system-2</li>
  <li>example-web-server</li>
  <li>example-host-42</li>
</ul>

<h2 id="naming-aeHost">Host entries</h2>
<p>
  Recommendations for host names in
  <a href="docs.html#schema-oc-aeHost">aeHost</a> entries:
</p>
<ul>
  <li>
    Attribute <var>host</var> in
    <a href="docs.html#schema-oc-aeHost">aeHost</a> entries should contain
    the canonical hostname returned by command <code>hostname -f</code>.
  </li>
  <li>
    Ideally make sure that the left-most DNS label of the canonical
    hostname is globally unique and in case of virtual machine matches the
    dom(ain) name.
  </li>
  <li>
    In any case provide a globally unique machine name added to attribute
    <var>cn</var> in <a href="docs.html#schema-oc-aeHost">aeHost</a> entry.
  </li>
  <li>
    If you plan to issue X.509 TLS client certs for host authentication
    make sure to put the unique canonical hostname in the certificate's
    subject DN.
  </li>
</ul>

<h2 id="naming-aeGroup">User group names</h2>
<p>
  General recommendations for user group names (attribute <var>cn</var>)
  and POSIX-GID (attribute <var>gidNumber</var>) in
  <a href="docs.html#schema-oc-aeGroup">aeGroup</a> entries:
</p>
<ul>
  <li>
     Must be globally unique!
  </li>
  <li>
    Must never be reused to preserve audit trails
    and file ownership of file archive!
  </li>
</ul>
<p>
  More on group names:
</p>
<ul>
  <li>
    Only lower-cased group names!
  </li>
  <li>
    Choose a word easily associated with the user group's members,
  </li>
  <li>
    Use plural form in group name.
  </li>
  <li>
    It's probably a good idea to derive group names from unique
    organizational identifiers, e.g. project IDs etc.
  </li>
</ul>
<p>
  Examples:
</p>
<ul>
  <li>example-sys-admins-1</li>
  <li>example-db-admins</li>
  <li>example-console-users-42</li>
</ul>

<h2 id="naming-aeSrvGroup">Service group names</h2>
<p>
  Recommendations for service group names (attribute <var>cn</var>)
  <a href="docs.html#schema-oc-aeSrvGroup">aeSrvGroup</a> entries:
</p>
<ul>
  <li>
    Choose a word easily associated with the service group's members,
    e.g. <var>example-test-systems-23</var> or <var>example-db-hosts-42</var>.
  </li>
  <li>
    Use plural form in group name.
  </li>
</ul>
<p>
  Examples:
</p>
<ul>
  <li>example-test-systems-23</li>
  <li>example-http-services</li>
  <li>example-db-hosts-42</li>
</ul>

<h1 id="security">Security considerations</h1>

<h2 id="security-aeService">Using tool/service accounts (aeService)</h2>
<p>
  Some general recommendations if you really cannot avoid using
  tool/service accounts acting as clients:
</p>
<ul>
  <li>
    Add an <a href="docs.html#schema-oc-aeService">aeService</a> entry with
    attribute <var>sshPublicKey</var> and do not use passwords.
  </li>
  <li>
    Use separate <var>aeService</var> entries with different SSH private
    keys for your different environments and service instances. This avoids
    having to shut-down all your tools in case a widely used private key
    was compromised.
  </li>
  <li>
    Set login shell to <code>/usr/sbin/nologin</code> or similar
    if shell access with invoking commands is not needed.
  </li>
  <li>
    Use fine-grained ownership/permissions for all files to be accessed.
  </li>
  <li>
    Avoid using <em>sudo</em> for tool accounts!
  </li>
  <li>
    If you cannot avoid using <em>sudo</em>:
    <ul>
      <li>
        <strong>Never ever give such a "tool user" simply full root access!</strong>
        <br>
        Rather grant the minimum required rights by defining <strong>fine-grained</strong> sudoers rules.
      </li>
      <li>
        For this add a <strong>separate</strong>
        <a href="docs.html#schema-oc-aeGroup">aeGroup</a> entry used by specific
        <a href="docs.html#schema-oc-aeSudoRule">aeSudoRule</a>.
      </li>
      <li>
        If you set attribute <code>sudoOptions: !authenticate</code> for
        password-less <em>sudo</em> then take care that this particular
        rule cannot be used by personal user accounts!
      </li>
    </ul>
  </li>
  <li>
    Consider limiting SSH commands by <var>ForceCommand</var>
    in the host's <var>sshd_config</var>.
  </li>
  <li>
    Consider setting the client's IP address(es) in attribute
    <var>aeRemoteHost</var> in the tool's <var>aeService</var> entry.
    <br>
    This results in key option
    <code>from=..</code> being added by
    <code>search_authorized_keys.py</code> to the authorized key
    which restricts the usage of the private key to these address(es)
    (see <a href="http://man.openbsd.org/sshd#AUTHORIZED_KEYS_FILE_FORMAT">sshd(8), section "AUTHORIZED KEYS FILE FORMAT"</a>).
  </li>
</ul>

<h1 id="ae-dir-setup">&AElig;-DIR setup</h1>
<p>
  In general &AElig;-DIR's access control does not care about DNS names or
  network configuration at all. But it's a good idea to have separate DNS
  domains and network configuration.
</p>

<h2 id="ae-dir-network">Networking</h2>
<p>
  Recommendations:
</p>
<ul>
  <li>
    You should put your &AElig;-DIR servers into separate network(s)
    (IP address range, VLAN). It is recommended to even place
    <a href="docs.html#sys-provider">provider</a> and
    <a href="docs.html#sys-consumer">consumer</a> replicas into separate
    networks because they provide services to different clients.
  </li>
  <li>
    Add host-based firewall rules to your &AElig;-DIR servers!
  </li>
  <li>
    Adjust the ansible variables <var>apache_*_requires</var> for IP-based
    access control to web applications.
  </li>
</ul>

<h2 id="ae-dir-hostnames">Host names</h2>
<p>
  <strong>Hostnames should not match any wild-card certificate you are using!</strong>
</p>
<p>
  Besides <a href="#naming-aeHost">general recommendations</a> some more:
</p>
<ul>
  <li>
    Don't forget to add correct reverse DNS entries (PTR RRs) required for
    correctly creating LDIF data for initial load.
  </li>
  <li>
    The hostnames should at least contain one dot. Otherwise Chrome web browser
    won't accept/return cookies.
  </li>
  <li>
    It's helpful to encode the &AElig;-DIR slapd role into the host names.
  </li>
  <li>
    Make sure to use a numbering scheme which allows you to add more replicas
    for each role without having to invent new host naming scheme.
  </li>
</ul>
<p>
  If you have fine-grained access control for delegated sub domains in your
  DNS server then it's a good idea to use separate sub domains (forward and
  reverse) and strictly delegate control to &AElig;-DIR system admins
  (members of group <var>ae-sys-admins</var>).
  Sub-domains also avoid accidentally matching wild-card certificates
  issued to your domains.
</p>
<p>
  Example sub-domain: <code>ae-dir.example.com</code>
</p>
<p>
  Examples:<br>
  <code>ae-dir-p1.ae-dir.example.com</code> for a provider<br>
  <code>ae-dir-c2.ae-dir.example.com</code> for a consumer
</p>
{% endblock content %}
