{% extends htdocs_layout %}

{% block head_title %}User Guide -- command-line tools{% endblock %}
{% block head_pagedescription %}User guide for command-line tools{% endblock %}

{% block content %}
<p>
  <strong>Intended Audience:</strong>
  <br>
  Developers and system administrators
</p>

<ol>
  <li>
    <a href="#openldap">OpenLDAP command-line tools</a>
    <ol>
      <li><a href="#openldap-tls">TLS cert valiation</a></li>
      <li><a href="#openldap-ldapwhoami">ldapwhoami</a></li>
      <li><a href="#openldap-ldapsearch">ldapsearch</a></li>
    </ol>
  </li>
  <li>
    <a href="#ae-dir">&AElig;-DIR command-line tools</a>
    <ol>
      <li><a href="#ae-passwd">ae-dir-passwd</a></li>
      <li><a href="#ae-add-zone">ae-dir-addzone</a></li>
    </ol>
  </li>
  <li>
    <a href="#openssl">OpenSSL</a>
    <ol>
      <li><a href="#openssl-s_client">openssl s_client</a></li>
      <li><a href="#openssl-verify">openssl verify</a></li>
    </ol>
  </li>
</ol>

<h1 id="openldap">OpenLDAP command-line tools</h1>
<p>
  Relevant OpenLDAP documentation:
</p>
<ul>
  <li>
    <a href="https://www.openldap.org/software/man.cgi?query=ldap.conf">ldap.conf(5)</a>
  </li>
  <li>
    <a href="https://www.openldap.org/doc/admin24/tls.html#Client%20Configuration">Admin Guide: TLS Client Configuration</a>
  </li>
  <li>
    <a href="https://www.openldap.org/doc/admin24/appendix-common-errors.html">Admin Guide: Common Errors</a>
  </li>
</ul>

<h2 id="openldap-tls">TLS cert valiation</h2>
<p>
  Please make sure that you fully understand how OpenLDAP command-line
  tools determine which trusted root CA cert to use
  (see section <a href="https://www.openldap.org/software/man.cgi?query=ldap.conf#TLS_OPTIONS">TLS_OPTIONS in ldap.conf(5)</a>).
</p>
<p>
  If in doubt simply use this to set it by environment variables (does not
  work on MacOSX!):
</p>
<p>
  <code>LDAPTLS_CACERT=/path/to/rootca.crt</code>
</p>

<h2 id="openldap-ldapwhoami">ldapwhoami</h2>
<p>
  The OpenLDAP command-line tool
  <a href="https://www.openldap.org/software/man.cgi?query=ldapwhoami">ldapwhoami(1)</a>
  binds and sends a "Who am I?" extended operation (see {{ rfc(4532) }})
  to the LDAP server. This is handy to test various authentication mechs and
  <a href="https://www.openldap.org/doc/admin24/sasl.html#Mapping%20Authentication%20Identities">authz-ID mappings</a>.
</p>
<dl>

  <dt>
    Check <var>aeUser</var> or <var>aeService</var> password via simple
    bind request with short bind-DN interactively asking for password:
  </dt>
  <dd>
    <code>
       ldapwhoami -x -H ldaps://{{ aedir_main_provider_hostname }} -D "uid=lisa,{{ aedir_suffix }}" -W
    </code>
  </dd>

  <dt>
    Check <var>aeHost</var> password via simple bind request with short
    bind-DN and given password:
  </dt>
  <dd>
    <code>
      ldapwhoami -x -H ldaps://{{ aedir_main_provider_hostname }} -D "host=bart.example.com,{{ aedir_suffix }}" -w
    </code>
  </dd>

  <dt>
    Check <var>aeService</var> authentication via SASL/EXTERNAL bind
    request and client cert:
  </dt>
  <dd>
    <code>
      LDAPTLS_CERT=/path/to/client.crt LDAPTLS_KEY=/path/to/client.key ldapwhoami -Y EXTERNAL -H ldaps://{{ aedir_main_provider_hostname }}
    </code>
  </dd>

  <dt>
    On a fully installed replica the following should output the DN of the
    replica's <var>aeService</var> entry:
  </dt>
  <dd>
    <code>LDAPRC=/opt/ae-dir/etc/ldap.conf ldapwhoami -Y EXTERNAL -H ldaps://ae-dir-provider.example.com</code>
  </dd>

</dl>

<h2 id="openldap-ldapsearch">ldapsearch</h2>

<p>
  The OpenLDAP command-line tool
  <a href="https://www.openldap.org/software/man.cgi?query=ldapsearch">ldapsearch(1)</a>
  sends a search request to the LDAP server and outputs search results
  retrieved as LDIF (see {{ rfc(2849) }}).
</p>

<dl>

  <dt>Search for <var>aeUser</var> with username "lisa" by <var>uid</var>:</dt>
  <dd>
    <code>
      ldapsearch -H ldaps://{{ aedir_main_provider_hostname }} -b {{ aedir_suffix }} -s sub "(uid=lisa)" "*" "+"
    </code>
  </dd>

  <dt>Search on behalf of an <var>aeService</var> (with -X):</dt>
  <dd>
  <code>
    ldapsearch -H ldaps://{{ aedir_main_provider_hostname }} -b {{ aedir_suffix }} -s sub -X 'dn:uid=system_test-1,cn=test-servers-1,cn=test,{{ aedir_suffix }}' "*" "+"
  </code>
  </dd>

</dl>

<h1 id="ae-dir">&AElig;-DIR command-line tools</h1>

<p>
  Various command-line tools are installed on the provider systems
  into directory <code>/opt/ae-dir/bin/</code> which use a separate
  configuration file installed to <code>/opt/ae-dir/etc/ldap.conf</code>:
</p>
<dl>
  <dt>ae-dir-passwd</dt>
  <dd>
    Sets password of <em>aeUser</em>, <em>aeService</em> or <em>aeHost</em>
  </dd>
  <dt>ae-dir-addzone</dt>
  <dd>
    Adds new <em>aeZone</em> with the two standard <em>aeGroup</em> entries
    for the zone admins and zone auditors.
  </dd>
</dl>

<h2 id="ae-passwd">ae-dir-passwd</h2>

<p>Roles:</p>
<ul>
  <li><a href="docs.html#role-ae-admin">&AElig; Admin</a></li>
</ul>

<p>
  Especially this tool is used when boot-strapping a new &AElig;-DIR
  installation to set the password of the first
  <a href="docs.html#role-ae-admin">&AElig; admin</a>.
</p>
<p>
  Example usage setting password for user account:
</p>
<pre id="ae-passwd-example" class="cli">
root@ae-dir-deb-p1:~# /opt/ae-dir/bin/ae-dir-passwd bart
new password for uid=bart,cn=ae,{{ aedir_suffix }}:
repeat password:
</pre>

<h2 id="ae-add-zone">ae-dir-addzone</h2>

<p>Roles:</p>
<ul>
  <li><a href="docs.html#role-ae-admin">&AElig; Admin</a></li>
</ul>

<p>
  Example usage:
</p>
<pre id="ae-add-zone-example" class="cli">
root@ae-dir-deb-p1:~# /opt/ae-dir/bin/ae-dir-addzone test42 IAM-42 "the definite answer"
Added cn=test42,{{ aedir_suffix }}
Added cn=test42-init,cn=test42,{{ aedir_suffix }}
Tagged cn=test42,{{ aedir_suffix }}
Added cn=test42-zone-admins,cn=test42,{{ aedir_suffix }}
Added cn=test42-zone-auditors,cn=test42,{{ aedir_suffix }}
</pre>

<h1 id="openssl">OpenSSL command-line tools</h1>
<p>
  Relevant OpenSSL documentation:
</p>
<ul>
  <li>
    <a href="https://www.openssl.org/docs/">Doc index</a>
  </li>
  <li>
    <a href="https://www.openssl.org/docs/manpages.html">Man pages</a>
  </li>
</ul>

<h2 id="openssl-s_client">openssl s_client</h2>
<p>
  The OpenSSL command-line tool
  <a href="https://www.openssl.org/docs/manmaster/man1/s_client.html">s_client(1)</a>
  opens a TLS connection to the server which is useful to test whether
  server cert validation is correct.
</p>
<dl>
  <dt>Open TLS connection to LDAPS port:</dt>
  <dd>
    <code>
      openssl s_client -connect {{ aedir_main_provider_hostname }}:636 -CAfile /path/to/rootca.crt
    </code>
    <br>
    (should display &quot;Verify return code: 0 (ok)&quot;)
  </dd>
</dl>

<h2 id="openssl-verify">openssl verify</h2>
<p>
  The OpenSSL command-line tool
  <a href="https://www.openssl.org/docs/manmaster/man1/verify.html">verify(1)</a>
  is useful to validate a certificate (chain) against a locally CA certificate chain.
</p>
{% endblock content %}
