{% extends htdocs_layout %}

{% block head_title %}Documentation{% endblock %}
{% block head_pagedescription %}Documentation{% endblock %}

{% block content %}
<p>
  <strong>Intended Audience:</strong>
  System architects, developers and system administrators
</p>

<ol>
  <li>
    <a href="#design">Design paradigms</a>
  </li>
  <li>
    <a href="#sys-arch">System architecture</a>
    <ol>
      <li><a href="#sys-provider">&AElig;-DIR provider</a></li>
      <li><a href="#sys-consumer">&AElig;-DIR consumer</a></li>
    </ol>
  </li>
  <li>
    <a href="#roles">Roles and Access Rights</a>
    <ol>
      <li><a href="#role-ae-admin">&AElig; Admin</a></li>
      <li><a href="#role-ae-auditor">&AElig; Auditor</a></li>
      <li><a href="#role-zone-admin">Zone Admin</a></li>
      <li><a href="#role-zone-auditor">Zone Auditor</a></li>
      <li><a href="#role-setup-admin">Setup Admin</a></li>
      <li><a href="#role-ae-user">&AElig; User</a></li>
      <li><a href="#role-client-service">&AElig; client service</a></li>
      <li><a href="#role-server-service">&AElig; server service</a></li>
      <li><a href="#role-host">&AElig; host</a></li>
      <li><a href="#role-ae-replica">&AElig; Replica</a></li>
      <li><a href="#role-ae-provider">&AElig; Provider</a></li>
      <li><a href="#role-ae-login-proxy">&AElig; Login Proxy</a></li>
    </ol>
  </li>
  <li>
    <a href="#dit">Directory Information Tree (DIT)</a>
    <ol>
      <li><a href="#dit-zone-ae">Zone ae</a></li>
      <li><a href="#dit-zone-people">Zone people</a></li>
      <li><a href="#dit-zone-pub">Zone pub</a></li>
    </ol>
  </li>
  <li>
    <a href="#er">Entity Relationship</a>
    <ol>
      <li><a href="#er-roles">Role References</a></li>
      <li><a href="#er-example">Example</a></li>
    </ol>
  </li>
  <li>
    <a href="#schema">Schema</a>
    <ol>
      <li><a href="#schema-soc">Structural Object Classes</a></li>
      <li><a href="#schema-aux-oc">Auxiliary Object Classes</a></li>
    </ol>
  </li>
  <li>
    <a href="#slapd.conf">OpenLDAP configuration (slapd.conf)</a>
    <ol>
      <li><a href="#slapd-roles">slapd replica roles</a></li>
      <li><a href="#backends">Backends</a></li>
      <li><a href="#overlays">Overlays</a></li>
      <li><a href="#slapd.access">Access control</a></li>
    </ol>
  </li>
  <li>
    <a href="#hardening">Hardening</a>
    <ol>
      <li><a href="#apparmor">AppArmor</a></li>
      <li><a href="#systemd">systemd</a></li>
    </ol>
  </li>
</ol>

<h1 id="design">Design paradigms</h1>
<ul>
  <li>Explicit is better than implicit</li>
  <li>Secure authorization requires secure authentication</li>
  <li>No anonymous access at all</li>
  <li>Individual authentication instead of shared credentials</li>
  <li>Avoid all-mighty proxy roles</li>
  <li>Rights assignment / permission granting always based on groups</li>
  <li>Do not assume hierarchical structure</li>
  <li>A person is not an user account</li>
  <li>Role separation with multiple user accounts per person</li>
  <li>Persistent IDs (never re-used) for reliable audit trails</li>
  <li>Only encrypted network traffic</li>
  <li>Well-defined semantics for all object classes and attributes (better no data than bad data)</li>
</ul>

<h1 id="sys-arch">System architecture</h1>

<p>A two-tier replication topology is implemented for separated access:</p>
<ul>
  <li>
    Administrators and their tools who maintain entries access the
    writeable <a href="#sys-provider">&AElig;-DIR providers</a>.
  </li>
  <li>
    Applications and systems using &AElig;-DIR access the
    read-only <a href="#sys-consumer">&AElig;-DIR consumers</a>.
  </li>
</ul>

{{ img('arch', 'arch.svg', '&AElig;-DIR overall system architecture') }}

<h2 id="sys-provider">&AElig;-DIR provider</h2>
<p>
  For maintaining entries the &AElig;-DIR provider are used.
</p>
<p>
  The following roles may access &AElig;-DIR provider:
</p>
<ul>
  <li><a href="docs.html#role-zone-admin">Zone Admin</a></li>
  <li><a href="docs.html#role-zone-auditor">Zone Auditor</a></li>
  <li><a href="docs.html#role-ae-admin">&AElig; Admin</a></li>
  <li><a href="docs.html#role-ae-auditor">&AElig; Auditor</a></li>
  <li><a href="docs.html#role-setup-admin">Setup Admin</a></li>
  <li><a href="docs.html#role-ae-user">&AElig; User</a></li>
  <li><a href="docs.html#role-ae-replica">&AElig; Replica</a></li>
</ul>
<p>
  Note: It is recommended to restrict network access to IP networks used by
  the roles above.
</p>

{{ img('slapd-provider', 'slapd-provider.svg', '&AElig;-DIR provider components') }}

<p>
  The following system components are running on each
  &AElig;-DIR provider system:
</p>
<dl>
  <dt id="sys-slapd-provider">slapd provider</dt>
  <dd>
    <a href="https://www.openldap.org">OpenLDAP's slapd</a> acting as roles
    <a href="#role-ae-provider">&AElig; Replica</a> and
    <a href="#role-ae-provider">&AElig; Provider</a>
    (see also <a href="#slapd-role-provider">provider configuration</a>)
  </dd>
  <dt id="sys-web2ldap">web2ldap</dt>
  <dd>
    <a href="https://web2ldap.de">web2ldap</a> is a web-based LDAPv3 client
    to access and maintain LDAP servers. It is used as &AElig;-DIR's main
    admin user interface.
    Check out the
    <a href="https://www.web2ldap.de/docs.html">documentation</a>
    to find out about fine-tuning, customizing etc.
  </dd>
  <dt id="sys-pwd-web">aedir_pproc.pwd.web</dt>
  <dd>
    <em>aedir_pproc.pwd.web</em> is a small web application for password
    self-service (see <a href="pwd.html">user guide</a> for instructions
    how to use it).
  </dd>
  <dt id="sys-oathenroll">oathenroll</dt>
  <dd>
    <em>oathenroll</em> is a small web application for resetting and preparing
    HOTP token entries
    (see <a href="https://oath-ldap.stroeder.com/docs.html#enroll">OATH-LDAP docs</a>).
  </dd>
  <dt id="sys-cron">CRON jobs</dt>
  <dd>
    Various small Python programs are running as CRON job
    performing the following tasks:
    <ul>
      <li>remove expired password reset attributes</li>
      <li>send welcome e-mails to new users especially with password reset instructions</li>
      <li>send password expiry warning e-mails to users</li>
      <li>update person name attributes in personal user accounts</li>
      <li>deactivate personal user accounts for deactivated persons</li>
      <li>deactivate expired entries</li>
      <li>update user groups defined with member search parameters</li>
      <li>custom sync jobs for retrieving person and organization data from HR</li>
    </ul>
  </dd>
  <dt id="sys-oath-ldap-hotp-validator">OATH-LDAP HOTP validator</dt>
  <dd>
    A slapd-sock listener which verifies LDAP simple bind operations
    with user password and HOTP (two-factor authentication).
  </dd>
</dl>

<h2 id="sys-consumer">&AElig;-DIR consumer</h2>
<p>
  All integrated hosts and services query the <em>&AElig;-DIR
  consumers</em> for accessing user and group entries and checking user
  passwords. Write access to consumers is deliberately disallowed.
  All write operations must be sent to
  the <a href="#sys-provider">&AElig;-DIR provider systems</a>.
</p>
<p>
  The following roles may access &AElig;-DIR provider:
</p>
<ul>
  <li><a href="docs.html#role-zone-admin">Zone Admin</a></li>
  <li><a href="docs.html#role-ae-admin">&AElig; Admin</a></li>
  <li><a href="docs.html#role-ae-auditor">&AElig; Auditor</a></li>
  <li><a href="docs.html#role-host">&AElig; Host</a></li>
  <li><a href="docs.html#role-server-service">&AElig; Server Service</a></li>
</ul>
<p>
  Note: It is recommended to restrict network access to IP networks used by
  the roles above.
</p>
<p>
  The following system components are running on each
  &AElig;-DIR consumer system:
</p>
<dl>
  <dt id="sys-slapd-consumer">slapd consumer</dt>
  <dd>
    <a href="https://www.openldap.org">OpenLDAP's slapd</a> acting as role
    <a href="#role-ae-provider">&AElig; Replica</a>
    (see also <a href="#slapd-role-consumer">consumer configuration</a>)
  </dd>
  <dt id="sys-oath-ldap-bind-proxy">OATH-LDAP bind proxy</dt>
  <dd>
    A slapd-sock listener for proxying LDAP simple bind operations
    for two-factor authentication to a writeable provider.
  </dd>
</dl>

<h1 id="roles">Roles</h1>
<p>
  This chapter gives a high-level overview over the different roles and
  their access rights in &AElig;-DIR. See chapter
  <a href="#slapd.access">access control</a> for technical details.
</p>

<h2 id="role-ae-admin">&AElig; Admin</h2>
<p>
  <em>&AElig; admins</em> (role assigned by membership in group
  <em>ae-admins</em>) directly manage all &AElig;-DIR systems and therefore
  have full write access (including <var>manage</var> privilege) to all LDAP
  entries. Furthermore this role has full read access to the audit
  database.
</p>

<p>
  Typically the &AElig; admins are not expected to know the systems
  using &AElig;-DIR or the users in detail. Therefore &AElig; admins
  are advised <strong>not</strong> to perform daily maintenance
  tasks except those directly related to &AElig;-DIR systems.
</p>

<p>Typical tasks:</p>
<ul>
  <li>
    add/modify zone entries (see <a href="#schema-oc-aeZone">aeZone</a>)
  </li>
  <li>
    entitle <a href="#role-ae-auditor">&AElig; auditors</a>
  </li>
  <li>
    entitle <a href="#role-zone-admin">zone admin(s)</a>
    in new or orphaned zones and help them with password reset procedure
  </li>
  <li>
    add/modify/remove <a href="#role-ae-replica">replicas</a>
  </li>
</ul>
<p>Exceptional tasks (requires careful consideration):</p>
<ul>
  <li>
    tasks usually done by <a href="#role-zone-admin">zone admin(s)</a>
  </li>
  <li>
    add/modify password policies (possibly also requires
    modification of system configuration)
  </li>
  <li>
    repair broken entries which requires circumventing constraints
    and therefore needs manage privilege
  </li>
</ul>

<h2 id="role-ae-auditor">&AElig; Auditor</h2>
<p>
  <em>&AElig; auditors</em> (role assigned by membership in group
  <em>ae-auditors</em>) have full read access to all LDAP entries including
  the audit database. Even when added to another user group members of
  group <em>ae-auditors</em> will <strong>not</strong> gain any write access.
</p>
<p>Typical tasks:</p>
<ul>
  <li>
    review normal entries to ensure compliance to internal security policies
  </li>
  <li>
    search accesslog database(s) to clarify impact of possible security incidents
  </li>
</ul>

<h2 id="role-zone-admin">Zone Admin</h2>
<p>
  <em>Zone admins</em> have full write access (but no <var>manage</var>
  privilege) to all entries within a zone. Typically they perform
  the daily data maintenance tasks.
</p>
<p>
  The role is assigned to a user account by adding it to a user group with
  name <var>*-zone-admins</var> which is referenced by attribute
  <var>aeZoneAdmins</var> in the <a href="#schema-oc-aeZone">aeZone</a> entry.
</p>
<p>Typical tasks:</p>
<ul>
  <li>
    entitle other <a href="#role-zone-admin">zone admin(s)</a>
  </li>
  <li>
    entitle <a href="#role-zone-auditor">zone auditor(s)</a>
  </li>
  <li>
    add/modify personal user accounts (<a href="#schema-oc-aeUser">aeUser</a>)
  </li>
  <li>
    help the users with password reset procedure for their personal
    user accounts (<a href="#schema-oc-aeUser">aeUser</a>)
  </li>
  <li>
    add/modify service accounts for client systems (<a href="#schema-oc-aeService">aeService</a>)
  </li>
  <li>
    add/modify user groups (<a href="#schema-oc-aeGroup">aeGroup</a>)
  </li>
  <li>
    add/modify/delete server/service groups (<a href="#schema-oc-aeSrvGroup">aeSrvGroup</a>)
  </li>
  <li>
    add/modify/delete service accounts (<a href="#schema-oc-aeService">aeService</a>)
    or hosts/servers (<a href="#schema-oc-aeHost">aeHost</a>) within a server/service group
  </li>
</ul>

<h2 id="role-people-admin">People Admin</h2>
<p>
  Zone admins in the special zone <a href="#dit-zone-people">people</a> are
  <em>People Admins</em> and can write organizational entries
  (<a href="#schema-oc-aePerson">aePerson</a>,
  <a href="#schema-oc-aeDept">aeDept</a> and
  <a href="#schema-oc-aeLocation">aeLocation</a>)
  and maintain organizational management relationships.
</p>

<h2 id="role-zone-auditor">Zone Auditor</h2>
<p>
  <em>Zone auditors</em> have full read access to all entries within a
  zone. Typically zone auditors need to read entries to reference them from
  another zone where they act as zone admin.
</p>
<p>
  The role is assigned to a user account by adding it to a user group with
  name <var>*-zone-admins</var> or <var>*-zone-auditors</var> which is
  referenced by attribute <var>aeZoneAuditors</var> in the
  <a href="#schema-oc-aeZone">aeZone</a> entry.
</p>
<p>Typical tasks:</p>
<ul>
  <li>
    review normal entries to ensure correct functional behaviour
  </li>
</ul>

<h2 id="role-setup-admin">Setup Admin</h2>
<p>
  <em>Setup admins</em> can maintain (add/modify/delete) member
  hosts/services of a service group typically while setting up a
  hosts/services instances. They can read but not write the service
  group (<a href="#schema-oc-aeSrvGroup">aeSrvGroup</a>) entry.
  The role is assigned by adding a user to a user group referenced in
  attribute <var>aeSetupGroups</var> in the service group
  (<a href="#schema-oc-aeSrvGroup">aeSrvGroup</a>).
</p>
<p>Typical tasks:</p>
<ul>
  <li>
    add/modify/delete  entries for hosts
    (<a href="#schema-oc-aeHost">aeHost</a>) and
    services (<a href="#schema-oc-aeService">aeService</a>)
  </li>
  <li>
    set <a href="apps.html#client-params">LDAP client configuration</a>
    of services
  </li>
  <li>
    prepare OS deployment (kickstart, seed, autoyast, etc.)
    with host credential (host or client cert)
  </li>
  <li>
    configure hosts/services (e.g. via puppet, ansible, etc.)
  </li>
</ul>

<h2 id="role-ae-user">&AElig; User</h2>
<p>
  Normal <em>&AElig; users</em> can read their own person and user
  entries including own group membership and all user entries which
  are in at least one common user group. Users can set their own
  password but cannot read it.
</p>

<h2 id="role-client-service">&AElig; client service</h2>
<p>
  <em>&AElig; client services</em>
</p>

<h2 id="role-server-service">&AElig; server service</h2>
<p>
  <em>&AElig; server services</em>
</p>

<h2 id="role-host">&AElig; host</h2>
<p>
  <em>&AElig; host</em>
</p>

<h2 id="role-ae-replica">&AElig; Replica</h2>
<p>
  The system role <em>&AElig; replicas</em> can read all entries
  including <var>userPassword</var> except some sensitive attributes
  only usable by role <a href="#role-ae-provider">&AElig; provider</a>.
</p>
<p>
  The role is assigned to service accounts
  (<a href="#schema-oc-aeService">aeService</a>)
  of all provider and replica slapd instances by adding them to user
  group <em>ae-replicas</em>.
</p>

<h2 id="role-ae-provider">&AElig; Provider</h2>
<p>
  Additionally to the rights assigned to role <em>&AElig; replica</em>
  the role <em>&AElig; provider</em> has read access to:
</p>
<ul>
  <li>
    organizational entries
    <ul>
      <li>
        <a href="#schema-oc-aePerson">aePerson</a>
      </li>
      <li>
        <a href="#schema-oc-aeDept">aeDept</a>
      </li>
      <li>
        <a href="#schema-oc-aePerson">aeLocation</a>
      </li>
    </ul>
  </li>
  <li>
    some more credential attributes (e.g. shared secrets used for
    two-factor authentication and password history)
  </li>
</ul>
<p>
  The role is assigned to service accounts
  (<a href="#schema-oc-aeService">aeService</a>)
  of all provider slapd instances by adding them to user
  group <em>ae-providers</em>.
</p>

<h2 id="role-ae-login-proxy">&AElig; Login Proxy</h2>
<p>
  The system role <em>&AElig; login proxy</em> can read all attributes in
  user, group, service group and service group member entries needed for
  determining user role relationship.
</p>
<p>
  The role is typically assigned solely to central service accounts (<a
  href="#schema-oc-aeService">aeService</a>) in zone <a href="#dit-zone-ae">ae</a>
  by adding them to user group <em>ae-login-proxies</em>.
</p>


<h1 id="dit">Directory Information Tree (DIT)</h1>

<h2 id="dit-ae-dir">{{ aedir_suffix }}</h2>
<p>
  The following diagram illustrates the directory information tree (DIT)
  structure of &AElig;-DIR in naming context <em>{{ aedir_suffix }}</em> where
  all &AElig;-DIR entities are stored as separate LDAP entries.
  The nodes contain the <em>relative distinguished name</em> (RDN) and
  the <a href="#schema-soc">structural object class</a> used for that entry.
  The tree structure is also formally specified (within web2ldap's
  configuration) with DIT structure rules and name forms.
</p>
{{ img('dit', 'dit.svg', 'Graph of &AElig;-DIR tree structure') }}

<h3 id="dit-zone-ae">cn=ae,{{ aedir_suffix }}</h3>
<p>
  Zone <em>ae</em> is used for administration of &AElig;-DIR itself.
  Therefore some special restrictions apply.
</p>
{{ img('dit-zone-ae', 'dit-zone-ae.svg', 'Sub-tree structure of zone ae') }}

<table>
  <tr>
    <th>RDN</th>
    <th>Description</th>
    <th>Structural object class</th>
  </tr>
  <tr>
    <td>cn=ae-admins</td>
    <td>Group members can manage all &AElig;-DIR entries (see also role <a href="#role-ae-admin">&AElig; Admin</a>)</td>
    <td><a href="#schema-oc-aeGroup">aeGroup</a></td>
  </tr>
  <tr>
    <td>cn=ae-auditors</td>
    <td>Group members can read all &AElig;-DIR entries (see also role <a href="#role-ae-auditor">&AElig; Auditor</a>)</td>
    <td><a href="#schema-oc-aeGroup">aeGroup</a></td>
  </tr>
  <tr>
    <td>cn=ae-all-zone-admins</td>
    <td>&AElig;-DIR user group entry updated by a CRON job to contain all active zone admins (see also role <a href="#role-zone-admin">Zone Admin</a>)</td>
    <td><a href="#schema-oc-aeGroup">aeGroup</a></td>
  </tr>
  <tr>
    <td>cn=ae-all-zone-auditors</td>
    <td>This &AElig;-DIR user group entry is updated by a CRON job to contain all active zone auditors (see also role <a href="#role-zone-auditor">Zone Auditor</a>)</td>
    <td><a href="#schema-oc-aeGroup">aeGroup</a></td>
  </tr>
  <tr>
    <td>cn=ae-dir-provider-hosts</td>
    <td>Server group for all AE-DIR provider hosts</td>
    <td><a href="#schema-oc-aeSrvGroup">aeSrvGroup</a></td>
  </tr>
  <tr>
    <td>cn=ae-dir-consumer-hosts</td>
    <td>Server group for all AE-DIR consumer hosts</td>
    <td><a href="#schema-oc-aeSrvGroup">aeSrvGroup</a></td>
  </tr>
  <tr>
    <td>cn=ae-login-proxies</td>
    <td>
      Members are central login (proxy) components which are allowed to see
      all users/groups and must determine login user/target relation themselves
      (see also role <a href="#role-ae-login-proxy">&AElig; Login Proxy</a>)
    </td>
    <td><a href="#schema-oc-aeGroup">aeGroup</a></td>
  </tr>
  <tr>
    <td>cn=ae-replicas</td>
    <td>Members of this group are AE-DIR replicas including providers and consumers (see also role <a href="#role-ae-replica">&AElig; Replica</a>)</td>
    <td><a href="#schema-oc-aeGroup">aeGroup</a></td>
  </tr>
  <tr>
    <td>cn=ae-providers</td>
    <td>
      Members of this group are AE-DIR provider replicas
      (see also role <a href="#role-ae-provider">&AElig; Provider</a>)
    </td>
    <td><a href="#schema-oc-aeGroup">aeGroup</a></td>
  </tr>
  <tr>
    <td>cn=ae-sudo-sys-admins</td>
    <td>allows <code>su - root</code> for AE-DIR system admins (group <em>ae-sys-admins</em>)</td>
    <td><a href="#schema-oc-aeSudoRule">aeSudoRule</a></td>
  </tr>
  <tr>
    <td>cn=ae-sys-admins</td>
    <td>Members are system admins for AE-DIR servers</td>
    <td><a href="#schema-oc-aeGroup">aeGroup</a></td>
  </tr>
  <tr>
    <td>cn=ae-tag-init</td>
    <td>Tag for all entries created during initial load</td>
    <td><a href="#schema-oc-aeTag">aeTag</a></td>
  </tr>
  <tr>
    <td>cn=ae-uid-badwords</td>
    <td>UID blacklist containing bad words</td>
    <td>namedObject</td>
  </tr>
  <tr>
    <td>cn=ae-uid-blacklist</td>
    <td>This entry contains a blacklist for 'uid' values</td>
    <td>namedObject</td>
  </tr>
  <tr>
    <td>cn=ppolicy-base-users</td>
    <td>Password policy for primary personal user accounts (aeUser) in zone <em>base</em></td>
    <td><a href="#schema-oc-aePolicy">aePolicy</a></td>
  </tr>
  <tr>
    <td>cn=ppolicy-default</td>
    <td>Unusable default password policy</td>
    <td><a href="#schema-oc-aePolicy">aePolicy</a></td>
  </tr>
  <tr>
    <td>cn=ppolicy-otptokens</td>
    <td>Password policy for OTP enrollment</td>
    <td><a href="#schema-oc-aePolicy">aePolicy</a></td>
  </tr>
  <tr>
    <td>cn=ppolicy-sasl-external</td>
    <td>
      Password policy for services which must use SASL/EXTERNAL
      (mainly disallows using simple bind with password)
    </td>
    <td><a href="#schema-oc-aePolicy">aePolicy</a></td>
  </tr>
  <tr>
    <td>cn=ppolicy-systems</td>
    <td>Password policy for hosts and system/service accounts (aeHost and aeService)</td>
    <td><a href="#schema-oc-aePolicy">aePolicy</a></td>
  </tr>
  <tr>
    <td>cn=ppolicy-users</td>
    <td>Password policy for personal user accounts (aeUser)</td>
    <td><a href="#schema-oc-aePolicy">aePolicy</a></td>
  </tr>
  <tr>
    <td>uid=ae-dir-otpenroll</td>
    <td>
      Service account for two-factor enrollment application
      (based on <a href="https://oath-ldap.stroeder.com/">OATH-LDAP</a>)
    </td>
    <td><a href="#schema-oc-aeService">aeService</a></td>
  </tr>
  <tr>
    <td>uid=ae-dir-otpverify</td>
    <td>Service account for OATH-LDAP validator demon</td>
    <td><a href="#schema-oc-aeService">aeService</a></td>
  </tr>
  <tr>
    <td>uid=ae-dir-pwd</td>
    <td>Service account for password self-service application and CRON job</td>
    <td><a href="#schema-oc-aeService">aeService</a></td>
  </tr>
</table>

<h3 id="dit-zone-people">cn=people,{{ aedir_suffix }}</h3>
<p>
  Zone <em>people</em> is used for storing organizational entries.
  These can be maintained manually or could be synced with a HR
  system or similar if appropriate.
  Make sure to avoid hen-and-egg issues when syncing entries.
  Manual maintenance is done by role <a href="#role-people-admin">People Admin</a>.
</p>

<h3 id="dit-zone-pub">cn=pub,{{ aedir_suffix }}</h3>
<p>
  Zone <em>pub</em> contains entries which are
  globally readable by all authenticated clients and
  maintained by role <a href="#role-ae-admin">&AElig; Admin</a>:
</p>
<table>
  <tr>
    <th>RDN</th>
    <th>Description</th>
    <th>Structural object class</th>
  </tr>
  <tr>
    <td>cn=sudo-defaults</td>
    <td>sets <em>sudoers</em> defaults</td>
    <td>sudoRole</td>
  </tr>
  <tr>
    <td>cn=pub-tag-no-welcome-yet</td>
    <td>tag used with aeUser entries indicating that welcome e-mail was not sent to user yet</td>
    <td><a href="#schema-oc-aeTag">aeTag</a></td>
  </tr>
  <tr>
    <td>cn=dua-profile</td>
    <td>client configuration profile (see {{ rfc(4876) }})</td>
    <td>DUAConfigProfile</td>
  </tr>
</table>

<a id="eer"></a>
<h1 id="er">Entity Relationship</h1>
<p>
  The following diagram illustrates how the different entities in
  &AElig;-DIR are referenced from each other. This entity
  relationship is evaluated by the OpenLDAP ACLs to determine access
  rights of bound entity.
</p>

{{ img('er-complete', 'er-complete.svg', 'Complete entity relationship diagram') }}

<ul>
  <li>
    A reference is set by adding an appropriate value to a link attribute.
  </li>
  <li>
    Cross-zone references are allowed for cross-zone delegation
    (except <em>aeProxyFor</em> and <em>aeSrvGroup</em> → )
  </li>
  <li>
    Almost all references by distinguished name of referenced entry
    (except <em>sudoUser</em> → <em>aeGroup</em> by prefixed group
    name for backward compatibility)
  </li>
  <li>
    Sometimes references are implicit by tree structure (child of):
    <ul>
      <li>ae* → aeZone</li>
      <li>aeHost or aeService → aeSrvGroup</li>
    </ul>
  </li>
</ul>

<h2 id="er-roles">Role References</h2>
<p>
  The following smaller diagram shows only references for assigning
  <a href="#roles">&AElig;-DIR roles</a>.
</p>

{{ img('er-roles', 'er-roles.png', 'Entity roles relationship diagram') }}

<p>
  Setting cross-zone references allow zone admins to delegate tasks to
  zone admins of other zones:
</p>
<ol>
  <li>
    Strictest level for preservation of full control:
    <br>
    Users, user groups, service groups and services / hosts all in
    one zone. This gives the responsible zone admins full control
    over all authentication and authorization but also places the
    burden of having to maintain all these entries on them.
    <br>
    This model should be used for hosts/services with high security
    requirements with access probably only for rather few
    administrators.
  </li>
  <li>
    Preservation of permissions control,
    user maintenance delegation to foreign zone:
    <br>
    A zone admin can add users located in foreign zones to user
    groups in their zone. The rights to assign permissions to users
    is preserved but user maintenance (e.g. helping with password
    reset) is delegated to foreign zone admins.
    <br>
    This model is reasonable for most hosts/services.
    <br>
    The cross-zone reference link from
    <a href="#schema-oc-aeGroup">aeGroup</a> to
    <a href="#schema-oc-aeUser">aeUser</a>/
    <a href="#schema-oc-aeService">aeService</a>.
  </li>
  <li>
    Full foreign zone delegation of user and permission group
    maintenance:
    <br>
    Delegating permission assignment (granted by group membership)
    can be achieved by referencing user groups in another zone from
    a server group.
    Note that different permissions are assigned by different link
    attributes and application-specific permissions for groups
    within services.
    <br>
    This model is reasonable for most hosts/services.
    <br>
    The cross-zone reference link from
    <a href="#schema-oc-aeSrvGroup">aeSrvGroup</a> to
    <a href="#schema-oc-aeGroup">aeGroup</a>.
  </li>
</ol>

<h2 id="er-example">Example</h2>
<p>
  Here is a diagram which shows an example of the various entries
  and their references stored in:
  <a href="https://demo.ae-dir.com/web2ldap/dit?ldapi://%2Fopt%2Fae-dir%2Frun%2Fslapd%2Fldapi/cn=test,ou=ae-dir????bindname=zots,X-BINDPW=CorrectHorseBatteryStaple">
    <em>test</em> on demo server
  </a>:
</p>

{{ img('er-demo', 'demo.ae-dir.com-zone-test.svg', 'Entity relationship diagram of zone test on ldaps://demo.ae-dir.com') }}


<h1 id="schema">Schema</h1>

<h2 id="schema-at">Attribute Types</h2>

<p>
  The following diagram shows the attribute type hierarchy:
</p>

{{ img('attribute_types_graph', 'attribute_types_graph.svg', 'Graph of &AElig;-DIR attribute types') }}

<h2 id="schema-soc">Structural Object Classes</h2>

<p>
  For each entity in &AElig;-DIR there is a distinct
  <em>structural object class</em> (see also {{ rfc(4512, '2.4.2') }}).
  All &AElig;-DIR object classes are derived from multiple abstract and
  structural object classes defined in various other standards.
</p>
<p>
  The following diagram shows the object class hierarchy:
</p>

{{ img('object_classes_graph', 'object_classes_graph.svg', 'Graph of &AElig;-DIR structural object classes') }}

<p>
  The structural object classes are also referenced in the accompanying&hellip;
</p>
<ul>
  <li>
    DIT content rules using <var>NOT</var> and <var>AUX</var>
    (see {{ rfc(4512, '4.1.6') }})
  </li>
  <li>
    DIT structure rules and name forms for enforcing the <a href="#dit">DIT</a>
    (see {{ rfc(4512, '4.1.7') }})
  </li>
  <li>
    constraints enforcing the <a href="#er">entity relationship</a>
  </li>
</ul>

<table id="schema-soc-table">

  <tr>
    <th>NAME</th>
    <th>RDN</th>
    <th>DESC</th>
    <th>SUP</th>
    <th>AUX</th>
  </tr>

  <tr>
    <th><a href="#schema-oc-aeAuthcToken">aeAuthcToken</a></th>
    <td>cn</td>
    <td>Authentication token device</td>
    <td><a href="#schema-oc-aeDevice">aeDevice</a></td>
    <td>
      <ul>
        <li>oathHOTPToken</li>
        <li>oathTOTPToken</li>
        <li>ldapPublicKey</li>
        <li><a href="#schema-oc-pkiUser">pkiUser</a></li>
      </ul>
    </td>
  </tr>

  <tr>
    <th><a href="#schema-oc-aeContact">aeContact</a></th>
    <td>cn</td>
    <td>Mail contact</td>
    <td>
      <ul>
        <li><a href="#schema-oc-aeObject">aeObject</a></li>
        <li>namedObject</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>mailboxRelatedObject</li>
        <li>inetLocalMailRecipient</li>
      </ul>
    </td>
  </tr>

  <tr>
    <th><a href="#schema-oc-aeDept">aeDept</a></th>
    <td>departmentNumber</td>
    <td>department / organization unit</td>
    <td>
      <ul>
        <li><a href="#schema-oc-aeObject">aeObject</a></li>
        <li>organizationalUnit</li>
      </ul>
    </td>
    <td>labeledURIObject</td>
  </tr>

  <tr>
    <th><a href="#schema-oc-aeGroup">aeGroup</a></th>
    <td>cn</td>
    <td>user group</td>
    <td>
      <ul>
        <li><a href="#schema-oc-aeObject">aeObject</a></li>
        <li>groupOfEntries</li>
        <li>groupOfURLs</li>
        <li><a href="#schema-oc-posixGroup">posixGroup</a></li>
      </ul>
    </td>
    <td>-/-</td>
  </tr>

  <tr>
    <th><a href="#schema-oc-aeHost">aeHost</a></th>
    <td>host</td>
    <td>host information and for host authentication</td>
    <td><a href="#schema-oc-aeDevice">aeDevice</a></td>
    <td>
      <ul>
        <li><a href="#schema-oc-posixAccount">posixAccount</a></li>
        <li>ldapPublicKey</li>
        <li><a href="#schema-oc-pkiUser">pkiUser</a></li>
        <li>ipHost</li>
      </ul>
    </td>
  </tr>

  <tr>
    <th><a href="#schema-oc-aeLocation">aeLocation</a></th>
    <td>cn</td>
    <td>location</td>
    <td>
      <ul>
        <li><a href="#schema-oc-aeObject">aeObject</a></li>
        <li>locality</li>
      </ul>
    </td>
    <td>labeledURIObject</td>
  </tr>

  <tr>
    <th><a href="#schema-oc-aeMailGroup">aeMailGroup</a></th>
    <td>cn</td>
    <td>user group</td>
    <td>
      <ul>
        <li><a href="#schema-oc-aeObject">aeObject</a></li>
        <li>groupOfEntries</li>
        <li>groupOfURLs</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>mailboxRelatedObject</li>
      </ul>
    </td>
  </tr>

  <tr>
    <th><a href="#schema-oc-aeNwDevice">aeNwDevice</a></th>
    <td>cn</td>
    <td>Network device information</td>
    <td><a href="#schema-oc-aeDevice">aeDevice</a></td>
    <td>
      <ul>
        <li>ipHost</li>
        <li>ieee802Device</li>
        <li>bootableDevice</li>
      </ul>
    </td>
  </tr>

  <tr>
    <th><a href="#schema-oc-aeObject">aeObject</a></th>
    <td>-/-</td>
    <td>abstract meta class</td>
    <td></td>
    <td>-/-</td>
  </tr>

  <tr>
    <th><a href="#schema-oc-aePerson">aePerson</a></th>
    <td>uniqueIdentifier</td>
    <td>personal information</td>
    <td>
      <ul>
        <li><a href="#schema-oc-aeObject">aeObject</a></li>
        <li>inetOrgPerson</li>
      </ul>
    </td>
    <td>msPerson</td>
  </tr>

  <tr>
    <th><a href="#schema-oc-aePolicy">aePolicy</a></th>
    <td>cn</td>
    <td>Policy information</td>
    <td>
       <ul>
        <li><a href="#schema-oc-aeObject">aeObject</a></li>
        <li>namedPolicy</li>
      </ul>
   <td>
      <ul>
        <li>pwdPolicy</li>
        <li>oathHOTPParams</li>
        <li>oathTOTPParams</li>
      </ul>
    </td>
  </tr>

  <tr>
    <th><a href="#schema-oc-aeRoot">aeRoot</a></th>
    <td>ou</td>
    <td>root entry of &AElig;-DIR tree</td>
    <td>
      <ul>
        <li><a href="#schema-oc-aeObject">aeObject</a></li>
        <li>organizationalUnit</li>
      </ul>
    </td>
    <td><a href="#schema-oc-aePosixIdRanges">aePosixIdRanges</a></td>
  </tr>

  <tr>
    <th><a href="#schema-oc-aeService">aeService</a></th>
    <td>uid</td>
    <td>service user account</td>
    <td>
      <ul>
        <li><a href="#schema-oc-aeObject">aeObject</a></li>
        <li>account</li>
      </ul>
    </td>
    <td>
      <ul>
        <li><a href="#schema-oc-posixAccount">posixAccount</a></li>
        <li><a href="#schema-oc-inetLocalMailRecipient">inetLocalMailRecipient</a></li>
        <li><a href="#schema-oc-pkiUser">pkiUser</a></li>
        <li><a href="#schema-oc-aeSSHAccount">aeSSHAccount</a></li>
        <li>oathHOTPUser</li>
        <li>oathTOTPUser</li>
      </ul>
    </td>
  </tr>

  <tr>
    <th><a href="#schema-oc-aeSrvGroup">aeSrvGroup</a></th>
    <td>cn</td>
    <td>host/service group</td>
    <td>
      <ul>
        <li><a href="#schema-oc-aeObject">aeObject</a></li>
        <li>namedObject</li>
      </ul>
    </td>
    <td>-/-</td>
  </tr>

  <tr>
    <th><a href="#schema-oc-aeSudoRule">aeSudoRule</a></th>
    <td>cn</td>
    <td>sudoers entry</td>
    <td>
      <ul>
        <li><a href="#schema-oc-aeObject">aeObject</a></li>
        <li>sudoRole</li>
      </ul>
    </td>
    <td>-/-</td>
  </tr>

  <tr>
    <th><a href="#schema-oc-aeTag">aeTag</a></th>
    <td>cn</td>
    <td>tag name-description mapping</td>
    <td>namedObject</td>
    <td>-/-</td>
  </tr>

  <tr>
    <th><a href="#schema-oc-aeUser">aeUser</a></th>
    <td>uid</td>
    <td>personal user account</td>
    <td>
      <ul>
        <li><a href="#schema-oc-aeObject">aeObject</a></li>
        <li>account</li>
        <li>inetOrgPerson</li>
      </ul>
    </td>
    <td>
      <ul>
        <li><a href="#schema-oc-posixAccount">posixAccount</a></li>
        <li><a href="#schema-oc-inetLocalMailRecipient">inetLocalMailRecipient</a></li>
        <li><a href="#schema-oc-pkiUser">pkiUser</a></li>
        <li><a href="#schema-oc-aeSSHAccount">aeSSHAccount</a></li>
        <li>msPwdResetObject</li>
        <li>oathHOTPUser</li>
        <li>oathTOTPUser</li>
      </ul>
    </td>
  </tr>

  <tr>
    <th><a href="#schema-oc-aeZone">aeZone</a></th>
    <td>cn</td>
    <td>zone (delegation container)</td>
    <td>
      <ul>
        <li><a href="#schema-oc-aeObject">aeObject</a></li>
        <li>namedObject</li>
      </ul>
    </td>
    <td><a href="#schema-oc-aePosixIdRanges">aePosixIdRanges</a></td>
  </tr>

</table>

<h3 id="schema-oc-aeObject">aeObject</h3>
<p>
  <var>aeObject</var> is an <em>abstract object class</em>, which only
  contains some common meta data attributes, to be available in all
  entries as described in the following list:
</p>
<dl id="schema-oc-aeObject-attributes">
  <dt id="schema-at-description">
    description
  </dt>
  <dd>
    Must / should contain short description of the purpose / reason /
    usage of an entry. Especially this attribute is very often displayed
    as pop-up title in <a href="web2ldap.html">web2ldap</a>.
  </dd>
  <dt id="schema-at-aeStatus">
    aeStatus
  </dt>
  <dd>
    The current status of an entry:
    <table>
      <tr>
        <th>Value</th>
        <th>Meaning</th>
        <th>Usage</th>
      </tr>
      <tr>
        <th>-1</th>
        <td>requested</td>
        <td>
          Especially useful for adding an entry without making it
          directly usable, e.g. in case a confirmation is needed.
        </td>
      </tr>
      <tr>
        <th>0</th>
        <td>active</td>
        <td>
          In this state an entry is visible depending on the normal ACLs.
        </td>
      </tr>
      <tr>
        <th>1</th>
        <td>deactivated</td>
        <td>
          In this state an entry is still visible for zone
          admins/auditors but is not usable on systems/services. The
          entry can be set to <var>active</var> by zone admins if no
          other constraint disallows it.
        </td>
      </tr>
      <tr>
        <th>2</th>
        <td>archived</td>
        <td>
          In this state an entry is invisible even for zone
          admins/auditors and some attributes might already been
          stripped off due to privacy regulations. Which attributes
          are stripped is to be defined as local policy.
        </td>
      </tr>
    </table>
    <img
      src="img/aeStatus-graph.svg"
      title="finite state machine of attribute <em>aeStatus</em>"
    >
  </dd>
  <dt id="schema-at-aeExpiryStatus">
    aeExpiryStatus
  </dt>
  <dd>
    If set this triggers auto-expiration of entries and specifies the value
    to which <a href="#schema-at-aeStatus">aeStatus</a> is set when
    <a href="#schema-at-aeNotAfter">aeNotAfter</a> is in the past.
  </dd>
  <dt id="schema-at-aeTicketId">
    aeTicketId
  </dt>
  <dd>
    This attribute is used to record the bug/issue tracker ID of the last
    change applied to an entry.
  </dd>
  <dt id="schema-validity-period">
    Validity period
  </dt>
  <dd>
    Two attributes define the time period in which an entry can be used:
    <dl>
      <dt id="schema-at-aeNotBefore">
        aeNotBefore
      </dt>
      <dd>
        The entry must not be actively used before this timestamp.
      </dd>
      <dt id="schema-at-aeNotAfter">
        aeNotAfter
      </dt>
      <dd>
        The entry must not be actively used after this timestamp.
      </dd>
    </dl>
    The validity period affects which
    <a href="#schema-at-aeStatus">aeStatus</a>
    values are valid at current time:
    <table>
      <tr>
        <th>
          Validity period
        </th>
        <th>
          aeStatus
        </th>
      </tr>
      <tr>
        <td>
          aeNotBefore &lt;= [current time] &lt;= aeNotAfter
        </td>
        <td>
          requested (-1)<br>
          active (0)<br>
          deactivated (1)<br>
          archived (2)
        </td>
      </tr>
      <tr>
        <td>
          [current time] &gt; aeNotAfter (expired)
        </td>
        <td>
          deactivated (1)<br>
          archived (2)
        </td>
      </tr>
      <tr>
        <td>
          [current time] &lt; aeNotBefore
        </td>
        <td>
          requested (-1)<br>
        </td>
      </tr>
    </table>
  </dd>
  <dt id="schema-at-aeTag">
    aeTag
  </dt>
  <dd>
    This attribute contains names (attribute <var>cn</var>) of
    <var>aeTag</var> entries useful for marking various entries across
    zones or other boundaries. This eases searching for entries which are
    used together to provide a certain service.
  </dd>
</dl>

<h3 id="schema-oc-aeRoot">aeRoot</h3>
<p>
  The object class <var>aeRoot</var> is solely used for locating an
  &AElig;-DIR tree within another tree of other entries. Especially it also
  serves as start point to &AElig;-DIR's specific DIT structure rules and
  name forms.
</p>
<dl id="schema-oc-aeRoot-attributes">
  <dt>
    description
  </dt>
  <dd>
    set to &quot;&AElig;-DIR - Authorized Entities Directory&quot;
  </dd>
  <dt>ou</dt>
  <dd>
    usually set to <em>ae-dir</em>
    resulting in naming context / search root <var>{{ aedir_suffix }}</var>
  </dd>
  <dt>meta attributes</dt>
  <dd>see <a href="#schema-oc-aeObject-attributes">aeObject</a></dd>
</dl>

<h3 id="schema-oc-aePolicy">aePolicy</h3>
<p>
  The object class <var>aePolicy</var> is used for policy / security
  parameter entries. The real effective policy parameters are supposed to
  be attributes of AUXILIARY object classes added to the entry.
</p>
<dl id="schema-oc-aePolicy-attributes">
  <dt>
    cn
  </dt>
  <dd>
    common name of policy
  </dd>
  <dt>
    description
  </dt>
  <dd>
    Must contain short description of the purpose / meaning / scope of the policy
  </dd>
  <dt>meta attributes</dt>
  <dd>see <a href="#schema-oc-aeObject-attributes">aeObject</a></dd>
</dl>

<h3 id="schema-oc-aeDept">aeDept</h3>
<p>
  The object class <var>aeDept</var> is used for entries for departments or
  units within an organization.
</p>
<dl id="schema-oc-aeDept-attributes">
  <dt>
    departmentNumber
  </dt>
  <dd>
    Unique identifier / short name of department / organizational unit
  </dd>
  <dt>
    ou
  </dt>
  <dd>
    Descriptive name of department / organizational unit
  </dd>
  <dt>organizationalUnit attributes</dt>
  <dd>see {{ rfc(4519, '3.11') }}</dd>
  <dt>meta attributes</dt>
  <dd>see <a href="#schema-oc-aeObject-attributes">aeObject</a></dd>
</dl>

<h3 id="schema-oc-aeLocation">aeLocation</h3>
<p>
  The object class <var>aeLocation</var> is used for entries representing
  geographic locations (offices, data centers) which are referenced from
  <a href="schema-oc-aePerson">aePerson</a> or
  <a href="schema-oc-aeHost">aeHost</a> entries to indicate the
  current location of these objects.
</p>
<dl id="schema-oc-aeLocation-attributes">
  <dt>
    cn
  </dt>
  <dd>
    Short name of location
  </dd>
  <dt>locality attributes</dt>
  <dd>see {{ rfc(4519, '3.7') }}</dd>
  <dt>meta attributes</dt>
  <dd>see <a href="#schema-oc-aeObject-attributes">aeObject</a></dd>
</dl>

<h3 id="schema-oc-aeTag">aeTag</h3>
<p>
  The structural object class <var>aeTag</var> is used to create tagging
  entries mapping an arbitrary name (RFN attribute <var>cn</var>) to a
  meaningful usage definition in attribute <var>description</var>.
</p>
<dl id="schema-oc-aeTag-attributes">
  <dt>
    description
  </dt>
  <dd>
    Must contain short description of the purpose / meaning of a tag.
  </dd>
  <dt>cn</dt>
  <dd>
    Name of the tag.
  </dd>
  <dt>aeStatus</dt>
  <dd>
    Status of tag
    (see <a href="#schema-at-aeStatus"><var>aeStatus</var> values and their meaning</a>)
  </dd>
</dl>

<h3 id="schema-oc-aeZone">aeZone</h3>
<p>
  Entries of object class <var>aeZone</var> are simply used as container for delegated administration.
  Besides the meta attributes and the zone name in attribute <var>cn</var> for forming the
  RDN there are no other attributes therein.
</p>
<dl id="schema-oc-aeZone-attributes">
  <dt>cn</dt>
  <dd>
    Name of the zone.
    For the sake of clarity the value in <var>cn</var> must also be used as
    prefix of attribute <var>cn</var> in these subordinate entries:
    <ul>
      <li><a href="#schema-oc-aeGroup">aeGroup</a></li>
      <li><a href="#schema-oc-aeSrvGroup">aeSrvGroup</a></li>
      <li><a href="#schema-oc-aeSudoRule">aeSudoRule</a></li>
      <li><a href="#schema-oc-aeTag">aeTag</a></li>
    </ul>
  </dd>
  <dt>aeDept</dt>
  <dd>
    Associated departments referenced by DN of
    <a href="#schema-oc-aeDept">aeDept</a> entry.
    If set, this constraints the set of persons, for which
    <a href="#schema-oc-aeUser">aeUser</a> entries can be added within this
    zone to matching department members.
  </dd>
  <dt>aeLocation</dt>
  <dd>
    Associated locations referenced by DN of
    <a href="#schema-oc-aeLocation">aeLocation</a> entry.
    If set, this constraints the set of persons, for which
    <a href="#schema-oc-aeUser">aeUser</a> entries can be added within this
    zone to same location(s).
  </dd>
  <dt>meta attributes</dt>
  <dd>see <a href="#schema-oc-aeObject-attributes">aeObject</a></dd>
  <dt>aeZoneAdmins</dt>
  <dd>
    Distinguished names of all <var>aeGroup</var> entries which's members
    act with role <a href="#role-zone-admin">zone admin</a> for the zone.
    <br>
    Constraint enforces that the group exists, is active and has
    name (attribute <var>cn</var>) of the form <em>*-zone-admins</em>.
  </dd>
  <dt>aePasswordAdmins</dt>
  <dd>
    Distinguished names of all <var>aeGroup</var> entries which's members
    are allowed to change password of <a href="#schema-oc-aeUser">aeUser</a>
    entries and thus circumventing the password reset process.
    <br>
    Constraint enforces that the values are a subset of <var>aeZoneAdmins</var>.
  </dd>
  <dt>aeZoneAuditors</dt>
  <dd>
    Distinguished names of all <var>aeGroup</var> entries which's members
    act with role <a href="#role-zone-auditor">zone admin</a> for the zone.
    <br>
    Constraint enforces that the group exists, is active and has
    name (attribute <var>cn</var>) of the form <em>*-zone-admins</em> or
    <em>*-zone-auditors</em>.
  </dd>
</dl>

<h3 id="schema-oc-aePerson">aePerson</h3>
<p>
  Person entries are added using object class <var>aePerson</var>.
  Note that such an entry is not a user account and thus cannot
  authenticate to a the directory.
  Typically <var>aePerson</var> are maintained by human resource
  (HR) or sales departments (for customers), optionally synchronized
  from HR database or a customer relationship management (CRM)
  database or similar.
</p>
<dl id="schema-oc-aePerson-attributes">
  <dt>uniqueIdentifier</dt>
  <dd>
    Unique primary key possibly used for synchronisation.
    This attribute is readable to various roles.
  </dd>
  <dt>employeeNumber</dt>
  <dd>
    Another unique primary key possibly used for synchronisation but
    subject to stricter access control due to privacy regulations for HR
    databases.
  </dd>
  <dt>inetOrgPerson attributes</dt>
  <dd>
    A limited subset of the widely used attributes defined in {{ rfc(2798) }}.
  </dd>
  <dt>meta attributes</dt>
  <dd>see <a href="#schema-oc-aeObject-attributes">aeObject</a></dd>
</dl>

<h3 id="schema-oc-aeUser">aeUser</h3>
<p>
  Accounts for persons are created by using object class <var>aeUser</var>.
  For compatibility reasons with existing software <var>aeUser</var> is
  derived from the superior object classes <var>account</var> and
  <var>inetOrgPerson</var>.
  This object class <strong>must not</strong> be used when creating
  system/service/tool accounts. For these use
  <a href="#schema-oc-aeService">aeService</a> instead.
</p>
<dl id="schema-oc-aeUser-attributes">
  <dt>uid</dt>
  <dd>
    unique username / user-ID of the personal account
  </dd>
  <dt>aePerson</dt>
  <dd>
    DN of the associated <var>aePerson</var> entry
  </dd>
  <dt>aePerson attributes</dt>
  <dd>
    The following name attributes values are copied from the accompanying
    <var>aePerson</var> name attributes:
    <ul>
      <li>sn</li>
      <li>givenName</li>
      <li>cn</li>
      <li>mail</li>
    </ul>
  </dd>
  <dt>aeRemoteHost</dt>
  <dd>
    remote host (client IP or FQDN) used during login
  </dd>
  <dt>meta attributes</dt>
  <dd>see <a href="#schema-oc-aeObject-attributes">aeObject</a></dd>
</dl>

<h3 id="schema-oc-aeGroup">aeGroup</h3>
<p>
  User groups are created using object class <var>aeGroup</var>. This
  hybrid group object class is derived from two structural group object
  classes:
</p>
<dl>
  <dt>groupOfEntries</dt>
  <dd>
    replacement for <var>groupOfNames</var> which permits empty groups
    (see <a href="https://tools.ietf.org/html/draft-findlay-ldap-groupofentries">draft-findlay-ldap-groupofentries</a>)
  </dd>
  <dt>posixGroup</dt>
  <dd>
    multiple attributes required for POSIX groups used for Unixoid operating systems
    (see {{ rfc(2307) }})
  </dd>
</dl>
<p>
  The following attributes are used in <var>aeGroup</var> entries:
</p>
<dl id="schema-oc-aeGroup-attributes">
  <dt>cn</dt>
  <dd>
    unique group name
  </dd>
  <dt>gidNumber</dt>
  <dd>
    unique numerical POSIX GID for the group
  </dd>
  <dt>member</dt>
  <dd>
    Distinguished names of all member entries
  </dd>
  <dt>memberUid</dt>
  <dd>
    <var>uid</var> values of all member entries
  </dd>
  <dt>aeDept</dt>
  <dd>
    Associated departments referenced by DN of
    <a href="#schema-oc-aeDept">aeDept</a> entry.
    If set, this constraints the set of persons whose
    <a href="#schema-oc-aeUser">aeUser</a> entries can be added to the
    group.
  </dd>
  <dt>aeLocation</dt>
  <dd>
    Associated locations referenced by DN of
    <a href="#schema-oc-aeLocation">aeLocation</a> entry.
    If set, this constraints the set of persons whose
    <a href="#schema-oc-aeUser">aeUser</a> entries can be added to the
    group.
  </dd>
  <dt>meta attributes</dt>
  <dd>
    <ul>
      <li>
        see <a href="#schema-oc-aeObject-attributes">aeObject</a>
      </li>
      <li>
        When <var>aeStatus</var> is set to archived (2) all group members
        will be removed, which means attributes <var>member</var> and
        <var>rfc822MailMember</var> will be deleted.
      </li>
    </ul>
  </dd>
</dl>

<h3 id="schema-oc-aeMailGroup">aeMailGroup</h3>
<p>
  Mail groups are created using object class <var>aeMailGroup</var>. This
  hybrid group object class is derived from two structural group object
  classes:
</p>
<dl>
  <dt>groupOfEntries</dt>
  <dd>
    replacement for <var>groupOfNames</var> which permits empty groups
    (see <a href="https://tools.ietf.org/html/draft-findlay-ldap-groupofentries">draft-findlay-ldap-groupofentries</a>)
  </dd>
  <dt>nisMailAlias</dt>
  <dd>
    for adding list of members' mail addresses
  </dd>
</dl>
<p>
  The following attributes are used in <var>aeMailGroup</var> entries:
</p>
<dl id="schema-oc-aeMailGroup-attributes">
  <dt>cn</dt>
  <dd>
    unique group name
  </dd>
  <dt>member</dt>
  <dd>
    Distinguished names of all member entries
  </dd>
  <dt>rfc822MailMember</dt>
  <dd>
    <var>mail</var> values of all member entries
  </dd>
  <dt>aeDept</dt>
  <dd>
    Associated departments referenced by DN of
    <a href="#schema-oc-aeDept">aeDept</a> entry.
    If set, this constraints the set of persons whose
    <a href="#schema-oc-aeUser">aeUser</a> entries can be added to the
    group.
  </dd>
  <dt>aeLocation</dt>
  <dd>
    Associated locations referenced by DN of
    <a href="#schema-oc-aeLocation">aeLocation</a> entry.
    If set, this constraints the set of persons whose
    <a href="#schema-oc-aeUser">aeUser</a> entries can be added to the
    group.
  </dd>
  <dt>meta attributes</dt>
  <dd>
    <ul>
      <li>
        see <a href="#schema-oc-aeObject-attributes">aeObject</a>
      </li>
      <li>
        When <var>aeStatus</var> is set to archived (2) all group members
        will be removed, which means attributes <var>member</var> and
        <var>rfc822MailMember</var> will be deleted.
      </li>
    </ul>
  </dd>
</dl>

<h3 id="schema-oc-aeSrvGroup">aeSrvGroup</h3>
<p>
  In general a <em>service group</em> contains service instances which are
  together providing a service and are thus considered subject to unified
  administrative rules. So for each service providing a user login a
  service group entry has to be added with object class
  <var>aeSrvGroup</var>. Likely a clustered service consists of multiple
  hosts or other services which are called the members of the service
  group.<br>
</p>
<p>
  Service group entries have the following attributes:
</p>
<dl id="schema-oc-aeSrvGroup-attributes">
  <dt>cn</dt>
  <dd>
    unique service group name
  </dd>
  <dt>aeLoginGroups</dt>
  <dd>
    Distinguished names of all <var>aeGroup</var> entries which's members
    have the right to login to the members of the service group
  </dd>
  <dt>aeLogStoreGroups</dt>
  <dd>
    Distinguished names of all <var>aeGroup</var> entries which's members
    have the right to access the centrally stored logs of the members of
    the service group
  </dd>
  <dt>aeLogStorePeriod</dt>
  <dd>
  </dd>
  <dt>aeRequires</dt>
  <dd>
    Distinguished names of all <var>aeSrvGroup</var> this service
    group depends on for providing its own service.
  </dd>
  <dt>aeProxyFor</dt>
  <dd>
    Distinguished names of all <var>aeSrvGroup</var> for which this service
    group acts as proxy (must be within same zone)
  </dd>
  <dt>aeSetupGroups</dt>
  <dd>
    Distinguished names of all <var>aeGroup</var> entries which's members
    have the right to setup the members of the service group
  </dd>
  <dt>aeVisibleGroups</dt>
  <dd>
    Distinguished names of all <var>aeGroup</var> entries visible with
    their member accounts on all members of the service group
  </dd>
  <dt>aeDisplayNameGroups</dt>
  <dd>
    Distinguished names of all <var>aeGroup</var> entries define for which
    member accounts person attributes are visible for all service group
    members
  </dd>
  <dt>aeVisibleSudoers</dt>
  <dd>
    Distinguished names of all <var>aeSudoRule</var> entries visible
    on all members of the service group
  </dd>
  <dt>meta attributes</dt>
  <dd>see <a href="#schema-oc-aeObject-attributes">aeObject</a></dd>
</dl>

<h3 id="schema-oc-aeSudoRule">aeSudoRule</h3>
<p>
  <em>sudoers</em> rules are stored in entries of object class
  <var>aeSudoRule</var>. The attributes are compatible to those defined for
  <em>sudo-ldap</em> plus the meta information of <var>aeObject</var> and
  some constraints.
</p>
<dl id="schema-oc-aeSudoRule-attributes">
  <dt>cn</dt>
  <dd>
    unique rule name
  </dd>
  <dt>sudo-ldap attributes</dt>
  <dd>
    See <em>sudo-ldap</em> documentation:
    <ul>
      <li>
        <a href="https://www.sudo.ws/readme_ldap.html">Sudo README.LDAP File</a>
      </li>
      <li>
        <a href="https://www.sudo.ws/man/sudoers.ldap.man.html">SUDOERS.LDAP(5)</a>
      </li>
    </ul>
    Notes:
    <ul>
      <li>
        The attribute <var>sudoUser</var> is constrained to only contain
        the name of a group (<a href="#schema-oc-aeGroup-attributes">cn</a>
        of an <var>aeGroup</var> entry) prefixed with a single percent
        character.
      </li>
      <li>
        You must set attribute <var>sudoHost</var> to <var>ALL</var>
        because restricting sudoers rules to hosts is better achieved
        by restricting visibility in the service group (attribute <a
        href="#schema-oc-aeSrvGroup-attributes">aeVisibleSudoers</a> in
        <var>aeSrvGroup</var> entry).
      </li>
    </ul>
  </dd>
  <dt>meta attributes</dt>
  <dd>see <a href="#schema-oc-aeObject-attributes">aeObject</a></dd>
</dl>


<h3 id="schema-oc-aeService">aeService</h3>
<p>
  Object class <var>aeService</var> is used for creating accounts
  for services (sometimes called tool / machine / system account or similar).
  The service must authenticate by using bind-DN/password or TLS
  client cert.
  <em>aeService</em> entries may have a password (attribute
  <var>userPassword</var>) to authenticate to &AElig;-DIR.
  X.509 client certificate(s) may be associated by adding AUX object
  class <a href="#schema-oc-pkiUser">pkiUser</a> and setting the
  attribute <var>seeAlso</var> to the client certs subject-DN.
</p>
<p>
  Two possible usage types (roles):
</p>
<ul>
  <li>
    Member of <var>aeGroup</var> to access other resources as client
    (similar to <var>aeUser</var> for humans).
  </li>
  <li>
    Member of <var>aeSrvGroup</var> to access user/group information when
    providing a service to users.
  </li>
</ul>
<dl id="schema-oc-aeService-attributes">
  <dt>uid</dt>
  <dd>
    unique username / user-ID of the system account
  </dd>
  <dt>cn</dt>
  <dd>
    unique service name
  </dd>
  <dt>aeSrvGroup</dt>
  <dd>
    distinguished names of <var>aeSrvGroup</var> entries this service is also
    member of
  </dd>
  <dt>aeHost</dt>
  <dd>
    distinguished name of <var>aeHost</var> entry for the system this
    service is running on
  </dd>
  <dt>aeRemoteHost</dt>
  <dd>
    remote host (client IP or FQDN) used during login
  </dd>
  <dt>meta attributes</dt>
  <dd>see <a href="#schema-oc-aeObject-attributes">aeObject</a></dd>
</dl>

<h3 id="schema-oc-aeHost">aeHost</h3>
<p>
  Object class <var>aeHost</var> for host systems with login service for
  the operating system on this host.
</p>
<ul>
  <li>
    Hosts are at least member of the superior <var>aeSrvGroup</var> entry.
  </li>
  <li>
    Hosts can be member of other <var>aeSrvGroup</var> entries by adding
    those to the <var>aeSrvGroup</var> attribute.
  </li>
  <li>
    Hosts must not be a member of <var>aeGroup</var> entry.
  </li>
  <li>
    The host must authenticate by using bind-DN/password or TLS client cert.
  </li>
  <li>
    Entries may have a password (attribute <var>userPassword</var>)
    to authenticate to &AElig;-DIR.
  </li>
  <li>
    X.509 client certificate(s) may be associated by adding AUX object
    class <a href="#schema-oc-pkiUser">pkiUser</a> and setting the
    attribute <var>seeAlso</var> to the client certs subject-DN.
  </li>
  <li>
    SSH host keys may be associated by using AUX object class
    <var>ldapPublicKey</var> and setting the attribute <var>sshPublicKey</var>.
  </li>
</ul>
<dl id="schema-oc-aeHost-attributes">
  <dt>host</dt>
  <dd>
    unique canonical hostname (FQDN)
  </dd>
  <dt>aeSrvGroup</dt>
  <dd>
    distinguished names of <var>aeSrvGroup</var> entries this host is also
    member of
  </dd>
  <dt>aeRemoteHost</dt>
  <dd>
    remote host (client IP or FQDN) used during login
  </dd>
  <dt>meta attributes</dt>
  <dd>see <a href="#schema-oc-aeObject-attributes">aeObject</a></dd>
</dl>

<h3 id="schema-oc-aeAuthcToken">aeAuthcToken</h3>
<p>
  Object class <var>aeAuthcToken</var> is used to add entries for personal
  authentication (OTP) token devices (e.g. yubikey).
</p>
<dl id="schema-oc-aeAuthcToken-attributes">
  <dt>cn</dt>
  <dd>
    Device name
  </dd>
  <dt>serialNumber</dt>
  <dd>
    unique serial number
    (most times <var>aeHwSerialNumber</var> with prefix)
  </dd>
  <dt>aeHwSerialNumber</dt>
  <dd>
    vendor-specific serial number (not necessarily unique)
  </dd>
  <dt>aeStockId</dt>
  <dd>
    inventory number used for warehousing
  </dd>
  <dt>meta attributes</dt>
  <dd>see <a href="#schema-oc-aeObject-attributes">aeObject</a></dd>
</dl>

<h3 id="schema-oc-aeNwDevice">aeNwDevice</h3>
<p>
  Object class <var>aeNwDevice</var> is used to add entries subordinate to
  <var>aeHost</var> entries for network devices available on that
  particular host system.
</p>
<dl id="schema-oc-aeNwDevice-attributes">
  <dt>cn</dt>
  <dd>
    OS-assigned device name of network device
  </dd>
  <dt>aeFqdn</dt>
  <dd>
    fully qualified domain name (FQDN) of IP address(es) assigned to this
    device
  </dd>
  <dt>aeNwDevice</dt>
  <dd>
    DN reference to another <var>aeNwDevice</var> entry, e.g. to be used for
    bridge/virtual interfaces without <var>macAddress</var> attribute
    (constrained to DNs beneath same superior <var>aeHost</var>)
  </dd>
  <dt>ipHostNumber</dt>
  <dd>
    the IP address(es) of the network interface which must match the DNS
    lookup of values in attribute <var>aeFqdn</var>
  </dd>
  <dt>macAddress</dt>
  <dd>
    the hardware MAC address of the network interface
  </dd>
  <dt>bootFile</dt>
  <dd>
    which PXE file to load via TFTP
  </dd>
  <dt>bootParameter</dt>
  <dd>
    OS-specific boot parameters
  </dd>
  <dt>meta attributes</dt>
  <dd>see <a href="#schema-oc-aeObject-attributes">aeObject</a></dd>
</dl>

<h2 id="schema-aux-oc">Auxiliary Object Classes</h2>

<p>
  Various <em>auxiliary object classes</em> are used to provide
  supplemental attributes. The DIT content rules defined for structural
  object classes restrict which auxiliary object classes can be added to an
  entry
  (see also <a href="#schema-soc-table">table of structural object classes</a>).
</p>

<h3 id="schema-oc-posixAccount">posixAccount</h3>
<p>
  The auxiliary object class <var>posixAccount</var> contains multiple
  attributes required for POSIX login to Unixoid operating systems
  (see {{ rfc(2307) }}).
</p>
<p>
  The following <var>posixAccount</var> attributes are always added to
  <var>aeUser</var> and <var>aeService</var> entries:
</p>
<ul>
  <li>uidNumber</li>
  <li>gidNumber</li>
  <li>homeDirectory</li>
  <li>loginShell</li>
</ul>

<h3 id="schema-oc-inetLocalMailRecipient">inetLocalMailRecipient</h3>
<p>
  The auxiliary object class <var>inetLocalMailRecipient</var> contains multiple
  attributes used for SMTP e-mail routing
  (see <a href="https://tools.ietf.org/html/draft-lachman-laser-ldap-mail-routing">draft-lachman-laser-ldap-mail-routing</a>).
</p>
<p>
  The following <var>inetLocalMailRecipient</var> attributes are optionally
  added to <var>aeUser</var> and <var>aeService</var> entries to turn these
  entries into a mailbox account:
</p>
<ul>
  <li>mailLocalAddress</li>
</ul>

<h3 id="schema-oc-pkiUser">pkiUser</h3>
<p>
  The auxiliary object class <var>pkiUser</var> is used (see {{ rfc(4523) }})
  to mark an system or personal account for being used with TLS client
  authentication.
</p>
<p>
  The following <var>pkiUser</var> attribute is optionally added to
  <var>aeUser</var>, <var>aeService</var> or <var>aeHost</var> entries:
</p>
<ul>
  <li>userCertificate</li>
</ul>

<h3 id="schema-oc-aeSSHAccount">aeSSHAccount</h3>
<p>
  The auxiliary object class <var>aeSSHAccount</var> is used to store SSH
  public keys and SSH key options and is derived from object class
  <var>ldapPublicKey</var> (see
  <a href="https://github.com/AndriiGrytsenko/openssh-ldap-publickey">openssh-ldap-publickey</a>).
</p>
<p>
  The following <var>aeSSHAccount</var> attribute can be optionally
  added to <var>aeUser</var> and <var>aeService</var> entries:
</p>
<ul>
  <li>aeSSHPermissions</li>
  <li>sshPublicKey</li>
</ul>


<h1 id="slapd.conf">OpenLDAP configuration (slapd.conf)</h1>

<h2 id="slapd-roles">slapd replica roles</h2>

<h3 id="slapd-role-provider">slapd provider</h3>
<p>
  An <em>slapd provider</em> is a writeable replica which holds the
  complete data including sensitive data like OTP shared secrets.
  In the default configuration all providers have fully-meshed
  multi-provider replication configured.
</p>

<h3 id="slapd-role-consumer">slapd consumer</h3>
<p>
  An <em>slapd consumer</em> is a read-only replica and is used by the
  hosts and services using &AElig;-DIR. Some sensitive data like OTP shared
  secrets is not replicated to consumers because it cannot be used there.
</p>

<h2 id="backends">Database backends</h2>

<p>
  Different backends are used on all <em>slapd</em> instances listed in the following table.
</p>
<table>
  <tr>
    <th>Suffix</th>
    <th>No.</th>
    <th>Description</th>
    <th>Backend</th>
  </tr>
  <tr>
    <td>cn=config</td>
    <td>0</td>
    <td>used in read-only mode for retrieving configuration (e.g. for monitoring)</td>
    <td>
      <a href="https://www.openldap.org/software/man.cgi?query=slapd-config">slapd-config(5)</a>
    </td>
  </tr>
  <tr>
    <td>cn=accesslog-ae-dir</td>
    <td>1</td>
    <td>
      Real database storage backend used for storing  audit log entries of all write operations.
      The schema is formally specified in the Internet draft
      <a href="https://tools.ietf.org/html/draft-chu-ldap-logschema">draft-chu-ldap-logschema</a>.
    </td>
    <td>
      <a href="https://www.openldap.org/software/man.cgi?query=slapd-mdb">slapd-mdb(5)</a>
    </td>
  </tr>
  <tr>
    <td>{{ aedir_suffix }}</td>
    <td>2</td>
    <td>
      Real database storage backend used for
      &AElig;-DIR itself (<a href="#dit">see details</a>)
    </td>
    <td>
      <a href="https://www.openldap.org/software/man.cgi?query=slapd-mdb">slapd-mdb(5)</a>
    </td>
  </tr>
  <tr>
    <td>cn=monitor</td>
    <td></td>
    <td>used for retrieving performance monitor data</td>
    <td>
      <a href="https://www.openldap.org/software/man.cgi?query=slapd-monitor">slapd-monitor(5)</a>
    </td>
  </tr>
</table>

<h2 id="overlays">Overlays</h2>

<p>
  Various overlays are configured on all replicas:
</p>
<dl>
  <dt id="slapo-memberof">slapo-memberof</dt>
  <dd>
    (see also <a href="https://www.openldap.org/software/man.cgi?query=slapo-memberof">slapo-memberof(5)</a>)
  </dd>
  <dt id="slapo-accesslog">slapo-accesslog</dt>
  <dd>
    used to log all write operations to the separate naming context
    <a href="#dit-accesslog">cn=accesslog-ae-dir</a>
    (see also <a href="https://www.openldap.org/software/man.cgi?query=slapo-accesslog">slapo-accesslog(5)</a>)
  </dd>
  <dt id="slapo-rwm">slapo-rwm</dt>
  <dd>
    (see also <a href="https://www.openldap.org/software/man.cgi?query=slapo-rwm">slapo-rwm(5)</a>)
  </dd>
  <dt id="slapo-syncprov">slapo-syncprov</dt>
  <dd>
    (see also <a href="https://www.openldap.org/software/man.cgi?query=slapo-syncprov">slapo-syncprov(5)</a>)
  </dd>
  <dt id="slapo-lastbind">slapo-lastbind</dt>
  <dd>
    (see also <a href="https://www.openldap.org/software/man.cgi?query=slapo-lastbind">slapo-lastbind(5)</a>)
  </dd>
  <dt id="slapo-ppolicy">slapo-ppolicy</dt>
  <dd>
    (see also <a href="https://www.openldap.org/software/man.cgi?query=slapo-ppolicy">slapo-ppolicy(5)</a>)
  </dd>
  <dt id="slapo-noopsrch">slapo-noopsrch</dt>
  <dd>
    (see also <a href="https://www.openldap.org/software/man.cgi?query=slapo-noopsrch">slapo-noopsrch(5)</a>)
  </dd>
  <dt id="slapo-deref">slapo-deref</dt>
  <dd>
    (see also <a href="https://www.openldap.org/software/man.cgi?query=slapo-deref">slapo-deref(5)</a>
    and <a href="https://tools.ietf.org/html/draft-masarati-ldap-deref">draft-masarati-ldap-deref</a>
    )
  </dd>
  <dt id="slapd-sock">slapd-sock</dt>
  <dd>
    When using two-factor authentication bind requests are externally
    processed. The bind requests are passed to the external bind listeners
    by configuring
    <a href="https://www.openldap.org/software/man.cgi?query=slapd-sock">slapd-sock(5)</a>
    as overlay.
  </dd>
</dl>

<p>
  Several constraints are enforced by overlays configured on the
  <a href="#slapd-role-provider">slap provider</a> to ensure data
  consistency and some more security policies:
</p>
<dl>
  <dt id="slapo-unique">slapo-unique</dt>
  <dd>
    Uniqueness constraints
    <a href="https://www.openldap.org/software/man.cgi?query=slapo-unique">slapo-unique(5)</a>
  </dd>
  <dt id="slapo-constraint">slapo-constraint</dt>
  <dd>
    Attribute value constraints
    <a href="https://www.openldap.org/software/man.cgi?query=slapo-constraint">slapo-constraint(5)</a>
  </dd>
  <dt id="slapo-refint">slapo-refint</dt>
  <dd>
    Referential integrity
    <a href="https://www.openldap.org/software/man.cgi?query=slapo-refint">slapo-refint(5)</a>
  </dd>
</dl>

<h2 id="slapd.access">Access control</h2>

<p>
  Security policies are enforced by different types of OpenLDAP ACLs:
</p>
<dl>
  <dt>group</dt>
  <dd>
    Access rights are granted based on simple group membership.
  </dd>
  <dt>regex</dt>
  <dd>
    Access rights are granted based on <a href="#dit">DIT</a> with
    distinguished names matching certain regex patterns.
  </dd>
  <dt>sets</dt>
  <dd>
    Access rights are granted based on (indirect)
    <a href="#er">entity relationship</a> by following the references from
    entries to other entries.
  </dd>
</dl>

<p>
  If you want to understand the ACLs in detail you should consult various
  on-line documentation:
</p>
<ul>
  <li>
    <a href="https://www.openldap.org/doc/admin24/access-control.html">OpenLDAP Admin Guide -- Access control</a>
  </li>
  <li>
    <a href="https://www.openldap.org/software/man.cgi?query=slapd.access">slapd.access(5)</a>
  </li>
  <li>
    <a href="https://www.openldap.org/faq/data/cache/189.html">FAQ-O-MATIC: Access Control</a>
  </li>
  <li>
    <a href="https://www.openldap.org/faq/data/cache/1133.html">FAQ-O-MATIC: Sets in Access Control</a>
  </li>
</ul>

<h2 id="hardening">Hardening</h2>

<h3 id="apparmor">AppArmor</h3>
<p>
  If you set ansible variable <var>apparmor_enabled: True</var> then
  <a href="http://wiki.apparmor.net">AppArmor</a> profiles and abstractions
  are installed to confine all components to enforce mode.<br>
  Only supported on <em>Debian Stretch</em> and <em>openSUSE/SLE</em>.
</p>

<h3 id="systemd">systemd</h3>
<p>
  Various systemd security configuration options are used when starting
  services via systemd units. See ansible variable
  <var>aedir_systemd_hardening</var> for global settings.
</p>
<p>
  See also:
</p>
<ul>
  <li>
    <a href="https://www.freedesktop.org/software/systemd/man/index.html">systemd.index — List all manpages from the systemd project</a>
  </li>
  <li>
    <a href="https://www.freedesktop.org/software/systemd/man/systemd.exec.html">systemd.exec(5)</a>
  </li>
  <li>
    <a href="https://lwn.net/Articles/709755/">lwn.net: Using systemd for more secure services in Fedora</a>
  </li>
  <li>
    <a href="https://github.com/konstruktoid/hardening/blob/master/systemd.adoc">Security focused systemd configuration</a>
  </li>
</ul>

{% endblock content %}
