{% extends htdocs_layout %}

{% block head_title %}Next steps / to-do list{% endblock %}
{% block head_pagedescription %}To-do items, ideas, next steps{% endblock %}

{% block content %}

<ol>
  <li><a href="#monitoring">Monitoring</a></li>
  <li><a href="#devops">DevOps tooling</a></li>
  <li><a href="#ui">User Interface</a></li>
  <li><a href="#sso">WebSSO</a></li>
  <li><a href="#pki">PKI</a></li>
  <li><a href="#pxe">PXE/DHCP/TFTP integration</a></li>
  <li><a href="#nac">Network Access Control (NAC)</a></li>
  <li><a href="#radius">RADIUS</a></li>
  <li><a href="#dns">DNS</a></li>
  <li><a href="#cli">Command-line tool</a></li>
  <li><a href="#compliance">Compliance checks</a></li>
</ol>

<h1 id="monitoring">Monitoring</h1>
<p>Done:</p>
<ul>
  <li>Implemented Prometheus exporter in web2ldap 1.5.45+.</li>
  <li>Implemented Prometheus metrics for slapd (interims solution in slapdcheck 3.5.0+).</li>
  <li>
    Implemented simple Prometheus metrics for the multi-process web
    apps and CRON jobs with small
    <a href="https://gitlab.com/ae-dir/ansible-ae-dir-server/-/tree/master/files/mtail">mtail programs</a>.
    <a href="https://github.com/google/mtail">mtail</a> has to be installed
    by external config management on a specific platform.
  </li>
</ul>
<p>Open:</p>
<ul>
  <li>Implement grafana dash-boards.</li>
</ul>

<h1 id="devops">DevOps tooling</h1>
<ul>
  <li>
    Scripts for local <em>slapd-ldap</em> instance used as admin proxy for
    bulk operations from local tools.
  </li>
</ul>

<h2 id="ansible">ansible</h2>
<p>Work in progress:</p>
<ul>
  <li>
    Automated authentication configuration (add entry, set <var>userPassword</var>) for
    <a href="docs.html#schema-oc-aeHost">aeHost</a> and
    <a href="docs.html#schema-oc-aeService">aeService</a> with an
    <a href="https://docs.ansible.com/ansible/latest/dev_guide/developing_modules_general.html#developing-modules-general">ansible module</a>.
  </li>
</ul>
<p>Open:</p>
<ul>
  <li>
    <a href="https://docs.ansible.com/ansible/developing_inventory.html">
    Dynamic inventory</a> plugin for accessing attributes in
    &AElig;-DIR entries
  </li>
</ul>

<h1 id="ui">User Interface</h1>
<ul>
  <li>
    specific web application for administrative use-cases
  </li>
  <li>
    Simple reporting use-cases (expired objects etc.).
  </li>
  <li>
    Graph reporting of data structures in a zone.
  </li>
</ul>

<h1 id="sso">WebSSO</h1>
<p>
  Custom IdP implementation supporting SAML 2.0, OAuth 2.0, Open ID Connect
  checking login relationship of user and service based on
  <a href="docs.html#schema-oc-aeSrvGroup">aeSrvGroup - aeLoginGroups</a>.
</p>
<p>
  Python modules to be used:
  <a href="https://pypi.python.org/pypi/pysaml2">pysaml2</a>,
  <a href="https://pypi.python.org/pypi/oic">oic</a>,
  <a href="https://pypi.python.org/pypi/pyop">pyop</a>
</p>

<h1 id="pki">PKI</h1>

<h2 id="ekca">EKCA</h2>
<p>
  Tight integration of <a href="https://ekca.stroeder.com/">EKCA</a>
  for issuing short-term
  <a href="https://github.com/openssh/openssh-portable/blob/master/PROTOCOL.certkeys">OpenSSH user certificates</a>.
</p>

<h2 id="x509">X.509</h2>
<ul>
  <li>
    Issue server certs to
    <a href="docs.html#schema-oc-aeHost">aeHost</a>,
    <a href="docs.html#schema-oc-aeNwDevice">aeNwDevice</a>,
    <a href="docs.html#schema-oc-aeService">aeService</a> or
    <a href="docs.html#schema-oc-aeSrvGroup">aeSrvGroup</a>
    based on authorization of role
    <a href="docs.html#role-setup-admins">Setup Admins</a>
    (see also <a href="https://ldapcon.org/2017/x-509-pki-ra-schema-for-ae-dir/">
    LDAPcon 2017 talk: X.509 PKI RA schema for Æ-DIR</a>)
  </li>
  <li>
    direct ansible integration for server cert enrollment
  </li>
  <li>
    X.509 cert enrollment for <a href="docs.html#schema-oc-aeUser">aeUser</a>
    with <a href="#mfa">multi-factor authc</a>
  </li>
  <li>
    remote CA keys
    (e.g. based on <a href="https://github.com/leifj/pyeleven">pyeleven</a>
    and <a href="https://github.com/LudovicRousseau/PyKCS11">PyKCS11</a>)
  </li>
</ul>

<h1 id="pxe">PXE/DHCP/TFTP integration</h1>
<ul>
  <li>
    Extend one of the following Python demon implementations to look up
    correct boot config in &AElig;-DIR:
    <ul>
      <li>
        <a href="https://github.com/mpetazzoni/ptftpd">ptftpd</a> (GPLv3)
      </li>
      <li>
        <a href="https://github.com/psychomario/PyPXE">PyPXE</a> (MIT License)
      </li>
    </ul>
  </li>
  <li>
    make use of <a href="docs.html#schema-oc-aeNwDevice">aeNwDevice</a>
  </li>
</ul>

<h1 id="nac">Network Access Control (NAC)</h1>
<ul>
  <li>
    <a href="https://en.wikipedia.org/wiki/IEEE_802.1X">IEEE 802.1X</a>
  </li>
  <li>
    <a href="https://libvirt.org/formatnwfilter.html">libvirt network filters</a>
  </li>
  <li>
    make use of <a href="docs.html#schema-oc-aeNwDevice">aeNwDevice</a>
  </li>
</ul>

<h1 id="radius">RADIUS</h1>
<p>
  Support for RADIUS with dynamic RADIUS client configuration
  (see also <a href="#nac">NAC</a>).
</p>
<ul>
  <li>
    <a href="https://freeradius.org/">FreeRADIUS</a>:
    has many features, basic LDAP authc out-of-the-box
  </li>
  <li>
    <a href="http://www.bsdradius.org/">BSDRadius</a>:
    needs own module
  </li>
  <li>
    thin implementation based on
    <a href="https://github.com/wichert/pyrad">pyrad</a>
  </li>
</ul>

<h1 id="dns">DNS</h1>
<ul>
  <li>
    use PowerDNS to serve attributes as DNS RRs to augment regular DNS service:
    <ul>
      <li><a href="docs.html#schema-oc-aeHost">aeHost</a> (A and PTR)</li>
      <li><a href="docs.html#schema-oc-aeNwDevice">aeNwDevice</a> (A and PTR)</li>
      <li><a href="docs.html#schema-oc-aeZone">aeZone</a> (SOA)</li>
    </ul>
  </li>
  <li>
    <a href="http://jpmens.net/2015/11/03/powerdns-with-the-remote-back-end-and-dnssec/">
    use remote backend (preferably with DNSSEC)</a> via
    <a href="https://github.com/cmouse/pdns-remotebackend-python">pdns-remotebackend-python</a>
  </li>
</ul>

<h1 id="cli">Command-line tool</h1>
<ul>
  <li>
    Consolidate various command-line tools into one tool with sub-commands
    within Python module package <a href="python.html">aedir</a>.
  </li>
  <li>
    Implement following use-cases:
    <ul>
      <li>Add <var>aeHost</var> entries</li>
      <li>Set password (replace <code>ae-dir-passwd</code>)</li>
    </ul>
  </li>
</ul>

<h1 id="compliance">Compliance checks</h1>
<p>Prepare compliance statements:</p>
<ul>
  <li>
    <a href="https://benchmarks.cisecurity.org/downloads/latest/">CIS benchmarks</a>
  </li>
  <li>
    <a href="https://www.bsi.bund.de/DE/Themen/ITGrundschutz/ITGrundschutzKataloge/Inhalt/_content/baust/b05/b05020.html">BSI Grundschutz</a>
  </li>
</ul>
{% endblock content %}
