{% extends htdocs_layout %}

{% block head_title %}User Guide -- web2ldap{% endblock %}
{% block head_pagedescription %}Web administration user interface{% endblock %}

{% block content %}
<p>
  <strong>Intended Audience:</strong>
  <br>
  All roles maintaining/accessing &AElig;-DIR via web2ldap admin UI
</p>

<p>
  This document describes how to maintain various entries in &AElig;-DIR with
  <a href="https://web2ldap.de">web2ldap</a> a web-based LDAPv3 client running on all
  <a href="docs.html#sys-provider">&AElig;-DIR provider</a> systems.
</p>

<ol>
  <li>
    <a href="#general">General</a>
    <ol>
      <li><a href="#general-layout">Layout</a></li>
      <li><a href="#general-links">Links</a></li>
      <li><a href="#general-messages">Messages</a></li>
      <li><a href="#general-multi-valued">Multi-valued attributes</a></li>
      <li><a href="#general-input-checks">Input checks</a></li>
      <li><a href="#general-templates">Templates</a></li>
      <li><a href="#general-bookmarks">Bookmarks</a></li>
    </ol>
  </li>
  <li><a href="#login">Login</a></li>
  <li>
    <a href="#search">Search</a>
    <ol>
      <li><a href="#search-zone">Search zone</a></li>
      <li><a href="#search-aeUser">Search a single user by username</a></li>
      <li><a href="#search-aeSrvGroup">Search service group</a></li>
      <li><a href="#search-aeHost-export">Export servers in a service group</a></li>
      <li><a href="#search-display-self">Display own entry</a></li>
    </ol>
  </li>
  <li>
    <a href="#modify">Adding/modifying entries</a>
    <ol>
      <li><a href="#oc-aePerson">&AElig;-DIR person (aePerson)</a></li>
      <li><a href="#oc-aeDept">&AElig;-DIR department (aeDept)</a></li>
      <li><a href="#oc-aeUser">&AElig;-DIR personal user account (aeUser)</a></li>
      <li><a href="#oc-aeGroup">&AElig;-DIR user group (aeGroup)</a></li>
      <li><a href="#oc-aeSrvGroup">&AElig;-DIR server/service group (aeSrvGroup)</a></li>
      <li><a href="#oc-aeHost">&AElig;-DIR server/host (aeHost)</a></li>
      <li><a href="#oc-aeSudoRule">&AElig;-DIR sudo su - root (aeSudoRule)</a></li>
      <li><a href="#oc-aeService">&AElig;-DIR service/tool account (aeService)</a></li>
      <li><a href="#oc-aeTag">&AElig;-DIR tag (aeTag)</a></li>
      <li><a href="#oc-aeZone">&AElig;-DIR zone (aeZone)</a></li>
    </ol>
  </li>
  <li><a href="#schema">Schema browser</a></li>
</ol>

<p>
  Only the &AElig;-DIR-specific use-cases are described herein. Check the web
  page <a href="https://www.web2ldap.de">www.web2ldap.de</a> for more
  details about installing/customizing/using <em>web2ldap</em>.
</p>

<h1 id="general">General</h1>

<p>
  This section contains general hints about the user interface layout,
  common errors, etc.
</p>

<h2 id="general-layout">Layout</h2>

<p>
  At top of the displayed web page always the fixed status area is displayed
  with the following information:
</p>

<ul>
  <li>
    LDAP URI of LDAP server you are connected to
  </li>
  <li>
    Identity bound to the LDAP server as friendly name with description if set
    in the identity's entry
  </li>
  <li>
    distinguished name of current position in the tree as clickable link
    list (breadcrumb navigation)
  </li>
</ul>

<p id="menu">
  There are two menu bars shown:
</p>
<dl>
  <dt id="main-menu">Main menu</dt>
  <dd>
     The main menu on the left always shows the same menu items for
     choosing the main use-cases.
  </dd>
  <dt id="context-menu">Context menu</dt>
  <dd>
     The context menu on the right depends on content displayed in the
     middle area for starting a related use-case.
  </dd>
</dl>

<p id="middle-area">
  In the middle area the following content is displayed depending on the
  use-case:
</p>
<ul>
  <li>search forms</li>
  <li>search results</li>
  <li>single entries</li>
  <li>various input forms for adding/modifying entries</li>
</ul>

<h2 id="general-links">Links</h2>
<p>
  Different link types have different colors:
</p>
<ul>
  <li>
    <span class="web2ldap-menu-button">Menu links</span> in the main menu
    on the right or the context menu on the left start a new action.
  </li>
  <li>
    <span class="web2ldap-internal-link">Red links</span>
    in the middle area lead to functionality within the application.
  </li>
  <li>
    <span class="web2ldap-external-link">Blue links</span>
    point to external resources (URLs) especially deep-linking into this
    user guide you are looking at.
  </li>
  <li>
    DIT navigation links are displayed in the top section:
    <br>
    <span class="web2ldap-dit-navigation">cn=example,{{ aedir_suffix }}</span>
    <br>
    Each DN component is a separate link to directly navigate to
    the entry. E.g. clicking on the single link
    <span class="web2ldap-dit-navigation">cn=example</span>
    would directly jump to entry <em>cn=example,{{ aedir_suffix }}</em>.
  </li>
</ul>
<p>
  Clicking on an <span class="web2ldap-menu-button">item</span> in the main
  menu or context menu always (re)starts a use-case and therefore will
  interrupt a prior action state you reached before in the middle area with
  your input being lost.
  Therefore if a use-cases requires several input steps you always reach the
  next step by hitting a <button class="web2ldap-submit-button">submit</button>
  button in the middle area.
</p>
<p>
  Note that almost all links have additional detail information in the
  <var>title</var> attribute displayed as <em>tooltip</em> in modern browsers.
</p>

<h2 id="general-messages">Messages</h2>
<p>
  Different message types have different border colors:
</p>
<dl>
  <dt><span class="web2ldap-msg-success">Success messages</span></dt>
  <dd>
    with light grey border indicate that some action was completed successfully.
  </dd>
  <dt><span class="web2ldap-msg-warning">Warning messages</span></dt>
  <dd>
    with dark grey border indicate that some functionality is not available but
    you can probably proceed with your action but with limited features.
  </dd>
  <dt><span class="web2ldap-msg-error">Error messages</span></dt>
  <dd>
    with red border indicate that something failed to work and action was
    aborted/canceled.
  </dd>
</dl>

<h2 id="general-multi-valued">Multi-valued attributes</h2>
<p>
  For some attributes you can add/modify more than one value. You can use
  the <button class="web2ldap-submit-button">+</button> button to add another
  value or <button class="web2ldap-submit-button">-</button> to prepare removing a
  value. Those buttons actually only alter the input form to be submitted
  later.
</p>
<p>
  Note that all values have to be distinct. So if there's a select list
  displayed it will not contain the attribute values already present in
  other attribute value fields.
</p>

<h2 id="general-input-checks">Input checks</h2>
<p>
  <em>web2ldap</em> tries to check the user's input and guide the user by
  displaying informative error messages if possible. But it's up to the
  &AElig;-DIR server to enforce all necessary rules.
</p>
<p>
  Also when displaying existing entries the attribute values are checked.
  Attribute values considered invalid will be displayed as
  <del>striked</del>. If you see this you should investigate why the value
  is considered invalid.
</p>

<h2 id="general-templates">Templates</h2>
<ul>
  <li>
    For quickly adding new entries there are several LDIF templates
    available which mainly defines the set of object classes to be used for
    a new entry.
  </li>
  <li>
    Various HTML templates were configured for certain object classes to
    display entries or display input forms when adding/modifying templates.
  </li>
  <li>
    When displaying single entries the attributes not shown in the HTML
    template area are appended as attribute table below the template area.
  </li>
  <li>
    When adding/modifying entries you can switch from template form to
    table and LDIF input form and back. Your input will be preserved.
  </li>
  <li>
    More details about use of templates can be found on the
    <a href="https://www.web2ldap.de/usability.html">web2ldap page</a>.
  </li>
</ul>

<h2 id="general-bookmarks">Bookmarks</h2>
<p>
  Simply adding links displayed in the browser's URL field does not work
  because they contain the variant session ID and do not provide enough
  information for connecting to the LDAP server.
</p>
<p>
  General hints about how to generate custom bookmarks based on LDAP URLs
  can be found on
  <a href="https://www.web2ldap.de/usability.html">web2ldap page</a>.
</p>

<h1 id="login">Login</h1>

<p>Roles:</p>
<ol>
  <li><a href="docs.html#role-ae-user">all users</a></li>
</ol>

<p>Prerequisites:</p>
<ol>
  <li>
    Active <a href="#oc-aeUser">aeUser</a> entry has been added for user and
    he/she knows username and password.
  </li>
  <li>
    Cookies are enabled for &AElig;-DIR provider(s) in your browser!
  </li>
</ol>

<p>Steps:</p>
<ol>
  <li>
    <a href="https://{{ aedir_provider_lb_hostname }}/web2ldap">Connect to web2ldap</a>
  </li>
  <li>
    Enter your <em>Username</em> and <em>Password</em>.
  </li>
  <li>
    Press <button class="web2ldap-submit-button">Login</button>.
  </li>
</ol>
<p id="connect-common-errors">
  Common errors and their possible causes:
</p>
<dl>
  <dt><span class="web2ldap-msg-error">Invalid credentials:</span></dt>
  <dd>
    Either you've entered a wrong password or there is no &AElig;-DIR account
    entry for the bind DN used.
  </dd>
  <dt><span class="web2ldap-msg-error">Invalid DN syntax:</span></dt>
  <dd>
    You've used an syntactically invalid / incomplete bind DN.
  </dd>
  <dt><span class="web2ldap-msg-error">
    Inappropriate authentication / anonymous bind disallowed:
  </span></dt>
  <dd>
    You've probably did not enter a bind DN at all or an empty password
    resulting in anonymous simple bind which is not allowed.
  </dd>
  <dt><span class="web2ldap-msg-error">Strong(er) authentication required:</span></dt>
  <dd>
    Anonymous access is not allowed at all. But you tried to send a LDAP
    request while still not bound with your &AElig;-DIR account.
  </dd>
  <dt><span class="web2ldap-msg-error">Session hijacking detected by wrong cookie. Access denied!</span></dt>
  <dd>
    In most cases this is caused by Cookies being disabled/blocked in your browser.
    Make sure your browser accepts Cookies for &AElig;-DIR's web2ldap sites.
  </dd>
  <dt><span class="web2ldap-msg-error">Session hijacking detected. Access denied!</span></dt>
  <dd>
    In very rare cases this is due to some of the
    <a href="https://www.web2ldap.de/web2ldapcnf.html#session_checkvars">
    session cross-checking env vars</a> changing during the session.
  </dd>
</dl>
<p id="login-username">
  For experienced users:<br>
  Note that there are three possible forms of specifying your user name or
  user's bind-DN with or without the zone's name:
</p>
<ul>
  <li>
    just the user name
  </li>
  <li>
    short form: <code>uid=<em>username</em>,{{ aedir_suffix }}</code>
  </li>
  <li>
    full DN for direct copy &amp; paste: <code>uid=<em>username</em>,cn=<em>zone</em>,{{ aedir_suffix }}</code>
  </li>
</ul>

<h1 id="search">Search</h1>
<p>
  Various search use-cases are described in the following sections.
</p>
<p>
  When searching bear in mind that you might not see entries due to access
  control restrictions. The LDAP server does not distinguish whether you're
  not allowed to read an entry or whether it does not exist or wasn't found
  by the filter. It simply does not return the result.
</p>
<p>
  Even if results are returned each of the attributes is also subject to
  access control restrictions. So some attributes might not be visible for
  you even though they are present and have some effect.
</p>

<h2 id="search-display-self">Display own account and group membership</h2>
<ol>
  <li>
    <a href="#login">Login</a>
  </li>
  <li>
    Select link <span class="web2ldap-menu-button">ConnInfo</span>
    from the main menu on the left.
  </li>
  <li>
    In the middle area there is your bind-DN displayed after
    description <em>Bound as:</em> where you can
    select <span class="web2ldap-internal-link">Read</span>.
  </li>
  <li>
    Your own personal user account is displayed in the middle area
    with a table row described as <em>Member in group(s):</em> where you
    can check the group membership of your account.
  </li>
  <li>
    Click link <span class="web2ldap-internal-link">Members</span>
    in the middle area near the group name to search all members of
    this particular user group.
  </li>
</ol>

<h2 id="search-zone">Search zone</h2>
<ol>
  <li>
    Navigate to top-level LDAP entry by clicking the link
    <span class="web2ldap-dit-navigation">{{ aedir_suffix }}</span>
    in the navigation bar at the top.
  </li>
  <li>
    Select link <span class="web2ldap-menu-button">Down</span>
    from the main menu on the left.
  </li>
  <li>
    &rarr; The zones are listed.
  </li>
  <li>
    Select <span class="web2ldap-internal-link">Read</span>
    in the middle area besides the wanted zone to navigate into the zone.
  </li>
</ol>

<h2 id="search-aeUser">Search a single user by username</h2>
<ol>
  <li>
    Select link <span class="web2ldap-menu-button">Search</span>
    from the main menu on the left.
  </li>
  <li>
    &rarr; The basic search form is displayed in the middle area.
  </li>
  <li>
    Enter the user's ID in the field "&AElig;-DIR user name".
  </li>
  <li>
    Press <kbd class="return">&#9166;</kbd> in the input form or click the
    <button class="web2ldap-submit-button">Search</button> button
    at top of the middle area.
  </li>
  <li>
    &rarr; Search results are displayed if found.
  </li>
  <li>
    Select <span class="web2ldap-internal-link">Read</span> in the middle
    area besides the searched user entry to display it.
  </li>
</ol>

<h2 id="search-aeSrvGroup">Search service group</h2>
<ol>
  <li>
    Select link <span class="web2ldap-menu-button">Search</span>
    from the main menu on the left.
  </li>
  <li>
    &rarr; The basic search form is displayed in the middle area.
  </li>
  <li>
    In the select field "Type of entry" choose
    "&AElig;-DIR srv. group (aeSrvGroup)".
  </li>
  <li>
    Optionally input part of the service group's name
    in field "Common name".
  </li>
  <li>
    Press <kbd class="return">&#9166;</kbd> in the input form or click the
    <button class="web2ldap-submit-button">Search</button> button
    at top of the middle area.
  </li>
  <li>
    &rarr; Search results are displayed if found.
  </li>
  <li>
    Select <span class="web2ldap-internal-link">Read</span> in the middle
    area besides the searched service group entry.
  </li>
</ol>

<h2 id="search-aeHost-export">Export servers in a service group</h2>
<ol>
  <li>
    <a href="#search-aeSrvGroup">Search service group</a> and
    display it.
  </li>
  <li>
    Select link <span class="web2ldap-internal-link">All members</span>
    in the middle area.
  </li>
  <li>
    &rarr; The list of servers in the service group is
    displayed in the middle area.
  </li>
  <li>
    Select link <span class="web2ldap-menu-button">Edit filter</span>
    from the context menu on the right to define the
    attribute columns to be exported.
  </li>
  <li>
    Fill in the attributes to be exported as columns in the field
    "Attributes to be read" as comma-separated list like
    this:<br>
    <kbd>cn,host,aeStatus,description,aeTicketId</kbd>
  </li>
  <li>
    Press <kbd class="return">&#9166;</kbd> in the input form or click the
    <button class="web2ldap-submit-button">Search</button> button
    at top of the middle area.
  </li>
  <li>
    &rarr; Search results are displayed if found.
  </li>
  <li>
    Select <em>CSV</em> or <em>Excel</em> at the bottom of the page in the
    select list in the middle area and press button
    <button class="web2ldap-submit-button">Export</button>.
  </li>
</ol>

<h1 id="modify">Adding/modifying entries</h1>

<p>
  Notes about tree:
</p>
<ul>
  <li>
    Adding entries in  the wrong part of the tree will likely
    result in malfunction.
  </li>
  <li>
    Please make yourself familiar with the tree structure (DIT) and LDAP
    schema used and how the different entries are related
    (see also <a href="docs.html#dit">&AElig;-DIR docs</a>).
  </li>
  <li>
    In most cases you will simply have to
    <a href="#search-zone">choose the right zone</a> first.
  </li>
</ul>

<table>
  <tr>
    <th>Name of LDIF template</th>
    <th>Structural object class</th>
    <th>Usage</th>
  </tr>
  <tr>
    <td><a href="#oc-aePerson">&AElig;-DIR person</a></td>
    <td><a href="docs.html#schema-oc-aePerson">aePerson</a></td>
    <td>registered person / human being (not an account!)</td>
  </tr>
  <tr>
    <td><a href="#oc-aeDept">&AElig;-DIR department</a></td>
    <td><a href="docs.html#schema-oc-aeDept">aeDept</a></td>
    <td>department / organization unit</td>
  </tr>
  <tr>
    <td><a href="#oc-aeUser">&AElig;-DIR personal user account</a></td>
    <td><a href="docs.html#schema-oc-aeUser">aeUser</a></td>
    <td>User account associated with a person</td>
  </tr>
  <tr>
    <td><a href="#oc-aeGroup">&AElig;-DIR user group</a></td>
    <td><a href="docs.html#schema-oc-aeGroup">aeGroup</a></td>
    <td>User group which has personal/system user accounts as members</td>
  </tr>
  <tr>
    <td><a href="#oc-aeSrvGroup">&AElig;-DIR server/service group</a></td>
    <td><a href="docs.html#schema-oc-aeSrvGroup">aeSrvGroup</a></td>
    <td>service group as parent entry for server or service entries</td>
  </tr>
  <tr>
    <td><a href="#oc-aeHost">&AElig;-DIR server/host</a></td>
    <td><a href="docs.html#schema-oc-aeHost">aeHost</a></td>
    <td>Server entry</td>
  </tr>
  <tr>
    <td><a href="#oc-aeNwDevice">&AElig;-DIR network device</a></td>
    <td><a href="docs.html#schema-oc-aeNwDevice">aeNwDevice</a></td>
    <td>Network device with MAC and IP address</td>
  </tr>
  <tr>
    <td><a href="#oc-aeSudoRule">&AElig;-DIR sudo su - root</a></td>
    <td><a href="docs.html#schema-oc-aeSudoRule">aeSudoRule</a></td>
    <td>all-mighty sudoers rule</td>
  </tr>
  <tr>
    <td><a href="#oc-aeService">&AElig;-DIR service/tool account</a></td>
    <td><a href="docs.html#schema-oc-aeService">aeService</a></td>
    <td>User account for services (applications, tools, etc.)</td>
  </tr>
  <tr>
    <td><a href="#oc-aeTag">&AElig;-DIR tag</a></td>
    <td><a href="docs.html#schema-oc-aeTag">aeTag</a></td>
    <td>Tag for marking entries</td>
  </tr>
  <tr>
    <td><a href="#oc-aeZone">&AElig;-DIR zone</a></td>
    <td><a href="docs.html#schema-oc-aeZone">aeZone</a></td>
    <td>Zone for delegated administration</td>
  </tr>
</table>

<h2 id="oc-aePerson">&AElig;-DIR person (aePerson)</h2>

<p>
  Schema description: <a href="docs.html#schema-oc-aePerson">aePerson</a>
</p>

<p>Roles:</p>
<ul>
  <li><a href="docs.html#role-people-admin">People Admin</a> (zone admin for in zone <em>people</em>)</li>
  <li><a href="docs.html#role-ae-admin">&AElig; Admin</a></li>
</ul>

<p>Prerequisites:</p>
<ol>
  <li>
    Organizational personnel process provided enough information.
  </li>
</ol>

<p>Steps:</p>
<ol>
  <li>
    <a href="#login">Login</a>
  </li>
  <li>
    Select link <span class="web2ldap-menu-button">New entry</span>
    from the main menu on the left.
  </li>
  <li>
    In the middle area select <span class="web2ldap-internal-link">&AElig;-DIR person</span>.
  </li>
  <li>
    &rarr; Input form is displayed in the middle area.
    (This template already automatically chooses zone <em>people</em>.)
  </li>
  <li>
    Make sure <em>web2ldap</em> displays this above the submit buttons to
    ensure you're adding the new entry directly beneath a zone:<br>
    "Superior entry: &AElig;-DIR zone <em>people</em>"
  </li>
  <li>
    Fill in the input values:
    <ol>
      <li>
        Enter names and optionally the e-mail address if already known.
      </li>
      <li>
        Set "Status:" to&hellip;
        <ul>
          <li>
            "requested" if you're waiting for some more confirmation before
            activating the person
          </li>
          <li>
          "active" otherwise
          </li>
        </ul>
      </li>
      <li>
        You might want to fill in the fields "Intended purpose" and
        "Ticket no. last change".
      </li>
    </ol>
  </li>
  <li>
    Press
    <kbd class="return">&#9166;</kbd>
    anywhere in the input form or click on the
    <button class="web2ldap-submit-button">Add</button> button
    at top of the middle area to add the new entry.
  </li>
  <li>
    &rarr; Confirmation of added data is shown in the middle area.
  </li>
  <li>
    Click link <span class="web2ldap-internal-link">Read added entry</span>
    in the middle area to display the new entry.
  </li>
</ol>

<h2 id="oc-aeDept">&AElig;-DIR department (aeDept)</h2>

<p>
  Schema description: <a href="docs.html#schema-oc-aeDept">aeDept</a>
</p>

<p>Roles:</p>
<ul>
  <li><a href="docs.html#role-people-admin">People Admin</a> (zone admin for in zone <em>people</em>)</li>
  <li><a href="docs.html#role-ae-admin">&AElig; Admin</a></li>
</ul>

<p>Prerequisites:</p>
<ol>
  <li>
    Organizational information is available.
  </li>
</ol>

<p>Steps:</p>
<ol>
  <li>
    <a href="#login">Login</a>
  </li>
  <li>
    Select link <span class="web2ldap-menu-button">New entry</span>
    from the main menu on the left.
  </li>
  <li>
    In the middle area select <span class="web2ldap-internal-link">&AElig;-DIR department</span>.
  </li>
  <li>
    &rarr; Input form is displayed in the middle area.
    (This template already automatically chooses zone <em>people</em>.)
  </li>
  <li>
    Make sure <em>web2ldap</em> displays this above the submit buttons to
    ensure you're adding the new entry directly beneath a zone:<br>
    "Superior entry: &AElig;-DIR zone <em>people</em>"
  </li>
  <li>
    Fill in the input values:
    <ol>
      <li>
        Enter at least "Organizational unit name" and "Department number".
      </li>
      <li>
        Select person for "Manager" if appropriate &AElig;-DIR person
        already exists.
      </li>
    </ol>
  </li>
  <li>
    Press
    <kbd class="return">&#9166;</kbd>
    anywhere in the input form or click on the
    <button class="web2ldap-submit-button">Add</button> button
    at top of the middle area to add the new entry.
  </li>
  <li>
    &rarr; Confirmation of added data is shown in the middle area.
  </li>
  <li>
    Click link <span class="web2ldap-internal-link">Read added entry</span>
    in the middle area to display the new entry.
  </li>
</ol>

<h2 id="oc-aeUser">&AElig;-DIR personal user account (aeUser)</h2>

<p>
  Schema description: <a href="docs.html#schema-oc-aeUser">aeUser</a>
</p>

<p>Roles:</p>
<ul>
  <li><a href="docs.html#role-zone-admin">Zone Admin</a></li>
  <li><a href="docs.html#role-ae-admin">&AElig; Admin</a></li>
</ul>

<h3 id="oc-aeUser-add">Add new &AElig;-DIR personal account</h3>

<p>Prerequisites:</p>
<ol>
  <li>
    Active <a href="#oc-aePerson">person entry (aePerson)</a> already exists.
  </li>
</ol>

<p>Steps:</p>
<ol>
  <li>
    <a href="#login">Login</a>
  </li>
  <li>
    <a href="#search-zone">Search zone</a> in which to add the new entry.
  </li>
  <li>
    Select link <span class="web2ldap-menu-button">New entry</span>
    from the main menu on the left.
  </li>
  <li>
    In the middle area select <span class="web2ldap-internal-link">&AElig;-DIR personal user account</span>.
  </li>
  <li>
    &rarr; Input form is displayed in the middle area.
  </li>
  <li>
    Make sure <em>web2ldap</em> displays this above the submit buttons to
    ensure you're adding the new entry directly beneath a zone:<br>
    "Superior entry: &AElig;-DIR zone..."
  </li>
  <li>
    Fill in the input values:
    <ol>
      <li>
        In the field "Base person:" enter an person name or e-mail address.
      </li>
      <li>
        Make sure "Status:" is set to "active".
      </li>
      <li>
        You might want to fill in the fields "Intended purpose",
        "SSH public key(s)" and "Ticket no. last change".
      </li>
      <li>
        Unix user ID (attribute <em>uidNumber</em>) must be set to at least <em>30000</em>.
        Don't muck with the suggested value!
      </li>
      <li>
        Primary group ID (attribute <em>gidNumber</em>) must be set to solely to
        value <em>30000</em> to avoid zone admins referring groups in other zones.
      </li>
    </ol>
  </li>
  <li>
    Press
    <kbd class="return">&#9166;</kbd>
    anywhere in the input form or click on the
    <button class="web2ldap-submit-button">Add</button> button
    at top of the middle area to add the new entry.
  </li>
  <li>
    &rarr; Confirmation of added data is shown in the middle area.
  </li>
  <li>
    Click link <span class="web2ldap-internal-link">Read added entry</span>
    in the middle area to display the new entry.
  </li>
  <li>
    If needed <a href="#oc-aeUser-groups">change group membership</a> of the user.
  </li>
</ol>

<h3 id="oc-aeUser-sshkey">Add or modify SSH key for existing &AElig;-DIR account</h3>

<p>Prerequisites:</p>
<ol>
  <li>
    Active <a href="#oc-aeUser">&AElig;-DIR user (aeUser)</a> entry already exists.
  </li>
  <li>
    Authenticity of the SSH public key was checked thoroughly:
    By some (out-of-band) security measures you must ensure that the public
    key really belongs to the user and that only the user can use the
    private key.
  </li>
  <li>
    Algorithm and key size of public key has to comply to your
    crypto security policy.
  </li>
</ol>

<p>Steps:</p>
<ol>
  <li>
    <a href="#login">Login</a>
  </li>
  <li>
    <a href="#search-aeUser">Search and display user entry</a>
  </li>
  <li>
    Select link <span class="web2ldap-menu-button">Modify</span> from the
    context menu at the right.
  </li>
  <li>
    &rarr; Input form is displayed in the middle area.
  </li>
  <li>
    Copy&amp;paste SSH public key into field
    "SSH public key(s) (sshPublicKey)"
  </li>
  <li>
    Click on the <button class="web2ldap-submit-button">Modify</button> button
    in the middle area or just hit <kbd class="return">&#9166;</kbd> key add the new entry.
  </li>
  <li>
    &rarr; Modification to entry will be displayed in the middle area
    (as LDIF change record).
  </li>
</ol>

<h3 id="oc-aeUser-groups">Change group membership</h3>

<p>Prerequisites:</p>
<ol>
  <li>
    Active <a href="#oc-aeUser">&AElig;-DIR user (aeUser)</a> entry already exists.
  </li>
</ol>

<p>Steps:</p>
<ol>
  <li>
    <a href="#login">Login</a>
  </li>
  <li>
    <a href="#search-aeUser">Search and display user entry</a>
  </li>
  <li>
    Select link <span class="web2ldap-menu-button">Groups</span> from the
    context menu at the right.
  </li>
  <li>
    &rarr; Two multi-select lists are  displayed in the middle area:
    <ol>
      <li>"Add to..." lists groups you could add a user to</li>
      <li>"Remove from..." lists groups you could remove a user from</li>
      <li>Make your choice</li>
    </ol>
  </li>
  <li>
    Press button
    <button class="web2ldap-submit-button">Change Group Membership</button>
    in the middle area to apply the changes.
  </li>
</ol>

<h2 id="oc-aeGroup">&AElig;-DIR user group (aeGroup)</h2>

<p>
  Schema description: <a href="docs.html#schema-oc-aeGroup">aeGroup</a>
</p>

<p>Roles:</p>
<ul>
  <li><a href="docs.html#role-zone-admin">Zone Admin</a></li>
  <li><a href="docs.html#role-ae-admin">&AElig; Admin</a></li>
</ul>

<p>Prerequisites:</p>
<ol>
  <li>
  </li>
</ol>

<p>Steps:</p>
<ol>
  <li>
    <a href="#login">Login</a>
  </li>
  <li>
    <a href="#search-zone">Search zone</a> in which to add the new entry.
  </li>
  <li>
    Select link <span class="web2ldap-menu-button">New entry</span>
    from the main menu on the left.
  </li>
  <li>
    In the middle area select <span class="web2ldap-internal-link">&AElig;-DIR group</span>.
  </li>
  <li>
    &rarr; Input form is displayed in the middle area.
  </li>
  <li>
    Make sure <em>web2ldap</em> displays this above the submit buttons to
    ensure you're adding the new entry directly beneath a zone:<br>
    "Superior entry: &AElig;-DIR zone..."
  </li>
  <li>
    Fill in the input values:
    <ol>
      <li>
        Don't muck up the suggested "Posix GID" unless you're really know
        what you're doing.
      </li>
      <li>
        The service group name has to use the zone name and a dash as
        prefix. This should be pre-filled in input field "Name of group".
      </li>
      <li>
        Add a short text describing what the group is used for in input field "Intended purpose".
      </li>
    </ol>
  </li>
  <li>
    Press
    <kbd class="return">&#9166;</kbd>
    anywhere in the input form or click on the
    <button class="web2ldap-submit-button">Add</button> button
    at top of the middle area to add the new entry.
  </li>
  <li>
    &rarr; Confirmation of added data is shown in the middle area.
  </li>
  <li>
    Click link <span class="web2ldap-internal-link">Read added entry</span>
    in the middle area to display the new entry.
  </li>
</ol>

<h2 id="oc-aeSrvGroup">&AElig;-DIR server/service group (aeSrvGroup)</h2>

<p>
  Schema description: <a href="docs.html#schema-oc-aeSrvGroup">aeSrvGroup</a>
</p>

<p>Roles:</p>
<ul>
  <li><a href="docs.html#role-zone-admin">Zone Admin</a></li>
  <li><a href="docs.html#role-ae-admin">&AElig; Admin</a></li>
</ul>

<p>Prerequisites:</p>
<ol>
  <li>
    Active <a href="#oc-aeGroup">aeGroup</a> entries referenced for various
    roles should exist.
  </li>
</ol>

<p>Steps:</p>
<ol>
  <li>
    <a href="#login">Login</a>
  </li>
  <li>
    <a href="#search-zone">Search zone</a> in which to add the new entry.
  </li>
  <li>
    Select link <span class="web2ldap-menu-button">New entry</span>
    from the main menu on the left.
  </li>
  <li>
    In the middle area select <span class="web2ldap-internal-link">&AElig;-DIR service group</span>.
  </li>
  <li>
    &rarr; Input form is displayed in the middle area.
  </li>
  <li>
    Make sure <em>web2ldap</em> displays this above the submit buttons to ensure you're adding the new entry directly beneath a zone:<br>"Superior entry: &AElig;-DIR zone..."
  </li>
  <li>
    Fill in the input values:
    <ol>
      <li>
        The service group name has to use the zone name and a dash
        as prefix. This should be pre-filled in input field "Name of
        group".
      </li>
      <li>
        Add a short text describing what the group is used for in input
        field "Intended purpose".
      </li>
    </ol>
  </li>
  <li>
    Press
    <kbd class="return">&#9166;</kbd>
    anywhere in the input form or click on the
    <button class="web2ldap-submit-button">Add</button> button
    at top of the middle area to add the new entry.
  </li>
  <li>
    &rarr; Confirmation of added data is shown in the middle area.
  </li>
  <li>
    Click link <span class="web2ldap-internal-link">Read added entry</span>
    in the middle area to display the new entry.
  </li>
</ol>

<h2 id="oc-aeHost">&AElig;-DIR server/host (aeHost)</h2>

<p>
  For this particular use-case you most likely want to use a custom
  command-line tool or configuration management (like ansible) instead.
</p>

<p>
  Schema description: <a href="docs.html#schema-oc-aeHost">aeHost</a>
</p>

<p>Roles:</p>
<ul>
  <li><a href="docs.html#role-setup-admin">Setup Admin</a></li>
  <li><a href="docs.html#role-zone-admin">Zone Admin</a></li>
  <li><a href="docs.html#role-ae-admin">&AElig; Admin</a></li>
</ul>

<p>Steps:</p>
<ol>
  <li>
    <a href="#login">Login</a>
  </li>
  <li>
    <a href="#Search_server_group">Search service group</a> and select the
    service group for the new entry.
  </li>
  <li>
    Select link <span class="web2ldap-menu-button">New entry</span>
    from the main menu on the left.
  </li>
  <li>
    In the middle area select <span class="web2ldap-internal-link">&AElig;-DIR server/host</span>.
  </li>
  <li>
    &rarr; Input form is displayed in the middle area.
  </li>
  <li>
    Fill in the input values:
    <ol>
      <li>
        Make sure <em>web2ldap</em> displays this to ensure you're adding
        the server entry beneath a service group above the submit
        buttons::<br>"Superior entry: &AElig;-DIR service group..."
      </li>
      <li>
        The first DNS label of input value for "common name" (cn) must
        match the "FQDN of server" (host).
      </li>
      <li>
        The input value for "FQDN of server" (host) is checked against DNS.
        So make sure to create an DNS entry before.
      </li>
    </ol>
  </li>
  <li>
    Press
    <kbd class="return">&#9166;</kbd>
    anywhere in the input form or click on the
    <button class="web2ldap-submit-button">Add</button> button
    at top of the middle area to add the new entry.
  </li>
  <li>
    &rarr; Confirmation of added data is shown in the middle area.
  </li>
  <li>
    Click link <span class="web2ldap-internal-link">Read added entry</span>
    in the middle area to display the new entry.
  </li>
  <li>
    Select link <span class="web2ldap-menu-button">Password</span> in
    the context menu on the right.
  </li>
  <li>
    &rarr; The input form for entering new password is displayed.
  </li>
  <li>
    Just leave the input fields empty and hit button
    <button class="web2ldap-submit-button">Change password</button>.
  </li>
  <li>
    &rarr; Random password is generated and displayed together with the full
    bind-DN for the server.
  </li>
</ol>

<h2 id="oc-aeSudoRule">&AElig;-DIR sudo su - root (aeSudoRule)</h2>

<p>
  Schema description: <a href="docs.html#schema-oc-aeSudoRule">aeSudoRule</a>
</p>

<p>Roles:</p>
<ul>
  <li><a href="docs.html#role-zone-admin">Zone Admin</a></li>
  <li><a href="docs.html#role-ae-admin">&AElig; Admin</a></li>
</ul>

<p>Prerequisites:</p>
<ol>
  <li>
    Active <a href="#oc-aeGroup">aeGroup</a> entries referenced as
    <var>sudoUser</var> should exist.
  </li>
</ol>

<p>Steps:</p>
<ol>
  <li><a href="#login">Login</a></li>
  <li><a href="#search-zone">Search zone</a> in which to add the new entry.</li>
  <li>
    Select link <span class="web2ldap-menu-button">New entry</span>
    from the main menu on the left.
  </li>
  <li>
    In the middle area select <span class="web2ldap-internal-link">SUDO Rule su - root</span>.
  </li>
  <li>
    &rarr; Input form is displayed in the middle area.
  </li>
  <li>
    Make sure <em>web2ldap</em> displays this above the submit buttons to
    ensure you're adding the new entry directly beneath a
    zone:<br>"Superior entry: &AElig;-DIR zone..."
  </li>
  <li>
    Fill in the input values:
    <ol>
      <li>
        The rule name has to use the zone name and a dash as prefix.
        This should be pre-filled.
      </li>
      <li>
        Of course you can alter the command(s) of the sudoers rule.
      </li>
    </ol>
  </li>
  <li>
    Press
    <kbd class="return">&#9166;</kbd>
    anywhere in the input form or click on the
    <button class="web2ldap-submit-button">Add</button> button
    at top of the middle area to add the new entry.
  </li>
  <li>
    &rarr; Confirmation of added data is shown in the middle area.
  </li>
  <li>
    Click link <span class="web2ldap-internal-link">Read added entry</span>
    in the middle area to display the new entry.
  </li>
</ol>

<h2 id="oc-aeService">&AElig;-DIR service/tool account (aeService)</h2>

<p>
  Schema description: <a href="docs.html#schema-oc-aeService">aeService</a>
</p>

<p>Roles:</p>
<ul>
  <li><a href="docs.html#role-setup-admin">Setup Admin</a> (only within service group)</li>
  <li><a href="docs.html#role-zone-admin">Zone Admin</a></li>
  <li><a href="docs.html#role-ae-admin">&AElig; Admin</a></li>
</ul>

<p>Prerequisites:</p>
<ol>
  <li>
  </li>
</ol>

<p>Steps:</p>
<ol>
  <li>
    <a href="#login">Login</a>
  </li>
  <li>
    <a href="#search-zone">Search zone</a> for the new entry or
    <a href="#Search_server_group">search service group</a> and select the
    service group for the new entry.
  </li>
  <li>
    Select link <span class="web2ldap-menu-button">New entry</span>
    from the main menu on the left.
  </li>
  <li>
    In the middle area select <span class="web2ldap-internal-link">&AElig;-DIR service/tool account</span>.
  </li>
  <li>
    &rarr; Input form is displayed in the middle area.
  </li>
  <li>
    Fill in the input values.
  </li>
  <li>
    Press
    <kbd class="return">&#9166;</kbd>
    anywhere in the input form or click on the
    <button class="web2ldap-submit-button">Add</button> button
    at top of the middle area to add the new entry.
  </li>
  <li>
    &rarr; Confirmation of added data is shown in the middle area.
  </li>
  <li>
    Click link <span class="web2ldap-internal-link">Read added entry</span>
    in the middle area to display the new entry.
  </li>
</ol>

<h2 id="oc-aeTag">&AElig;-DIR tag (aeTag)</h2>

<p>
  Schema description: <a href="docs.html#schema-oc-aeTag">aeTag</a>
</p>

<p>Roles:</p>
<ul>
  <li><a href="docs.html#role-zone-admin">Zone Admin</a></li>
  <li><a href="docs.html#role-ae-admin">&AElig; Admin</a></li>
</ul>

<p>Prerequisites:</p>
<ol>
  <li>
  </li>
</ol>

<p>Steps:</p>
<ol>
  <li>
    <a href="#login">Login</a>
  </li>
  <li>
    <a href="#search-zone">Search zone</a> in which to add the new entry.
  </li>
  <li>
    Select link <span class="web2ldap-menu-button">New entry</span>
    from the main menu on the left.
  </li>
  <li>
    In the middle area select <span class="web2ldap-internal-link">&AElig;-DIR tag</span>.
  </li>
  <li>
    &rarr; Input form is displayed in the middle area.
  </li>
  <li>
    Fill in the input values.
  </li>
  <li>
    Press
    <kbd class="return">&#9166;</kbd>
    anywhere in the input form or click on the
    <button class="web2ldap-submit-button">Add</button> button
    at top of the middle area to add the new entry.
  </li>
  <li>
    &rarr; Confirmation of added data is shown in the middle area.
  </li>
  <li>
    Click link <span class="web2ldap-internal-link">Read added entry</span>
    in the middle area to display the new entry.
  </li>
</ol>

<h2 id="oc-aeZone">&AElig;-DIR zone (aeZone)</h2>

<p>
  Step-by-step docs are here just for completeness because every sane admin
  will use the <a href="cli.html#ae-add-zone">ae-dir-addzone</a>
  command-line tool.
</p>

<p>
  Schema description: <a href="docs.html#schema-oc-aeZone">aeZone</a>
</p>

<p>Roles:</p>
<ul>
  <li><a href="docs.html#role-ae-admin">&AElig; Admin</a></li>
</ul>

<p>Prerequisites:</p>
<ol>
  <li>
  </li>
</ol>

<p>Steps:</p>
<ol>
  <li>
    <a href="#login">Login</a>
  </li>
  <li>
    Select link <span class="web2ldap-menu-button">New entry</span>
    from the main menu on the left.
  </li>
  <li>
    In the middle area select <span class="web2ldap-internal-link">&AElig;-DIR zone</span>.
  </li>
  <li>
    &rarr; Input form is displayed in the middle area.
  </li>
  <li>Fill in the input values:
    <ol>
      <li>
        The zone name has to be confirmed by the team leads!
      </li>
      <li>
        You should enter the appropriate issue tracker.
      </li>
    </ol>
  </li>
  <li>
    Press
    <kbd class="return">&#9166;</kbd>
    anywhere in the input form or click on the
    <button class="web2ldap-submit-button">Add</button> button
    at top of the middle area to add the new entry.
  </li>
  <li>
    &rarr; Confirmation of added data is shown in the middle area.
  </li>
  <li>
    Click link <span class="web2ldap-internal-link">Read added entry</span>
    in the middle area to display the new entry.
  </li>
</ol>

<p>
  You now have to add two special user groups for the roles
  <a href="docs.html#role-zone-admin">zone admins</a> and
  <a href="docs.html#role-zone-auditor">zone auditors</a> of
  the new zone.
</p>
<p>
  There are two special LDIF templates available for adding the standard role
  groups for zone admins and zone auditors:
</p>
<ul>
  <li>"&AElig;-DIR zone admins group"</li>
  <li>"&AElig;-DIR zone auditors group"</li>
</ul>

<p>Steps (for each group):</p>
<ol>
  <li>
    Select link <span class="web2ldap-menu-button">New entry</span> from
    the main menu when displaying the zone entry and choose one of the
    templates to add the special user group
    (see also <a href="#oc-aeGroup">aeGroup</a>).
  </li>
  <li>
    The group's name is auto-prefilled based on the zone's name.
  </li>
  <li>
    Also mention the zone name between the single quotes in the input
    field <em>Intended purpose (description)</em>
  </li>
  <li>
    Don't forget to add the ticket number also to these group entries.
  </li>
</ol>

<h1 id="schema">Schema browser</h1>

<p>
  If you want to find out more about the details of
  <a href="docs.html#schema">&AElig;-DIR's subschema</a> you can dig into it by
  using web2ldap's powerful schema browser which displays:
</p>
<ul>
  <li>
    all schema descriptions (attribute types, object classes, LDAP
    syntaxes, matching rules, DIT content rules, DIT structure rules and
    name forms)
  </li>
  <li>
    all cross-references including inheritance relationship
  </li>
</ul>

<p>
  You can always reach the schema browser by selecting link
  <span class="web2ldap-menu-button">Schema</span> from the main menu on
  the left.
</p>
<p>
  Small arrow links <span class="web2ldap-internal-link">&raquo;</span>
  are displayed along with names of attribute types and object classes
  which directly lead to this particular schema description from where you
  can follow the relationships.
</p>

<p>Bookmark:</p>
<p>
  Jump into
  <a href="/web2ldap/oid?ldapi:///{{ aedir_suffix }}????bindname=">schema browser</a>
</p>
{% endblock content %}
