h1:before {
  font-size:1.5em;
  font-weight:bold;
  padding-bottom:0.3em;
  counter-reset: h1counter;
  margin-left:0;
  content: "";
}

h2:before {
  content: "";
}

fieldset {
  border:1px solid #a0a0a0;
  margin-bottom:1.0em;
  padding:1em;
}

input {
  background-color:#f8f8f8;
  border:2px solid #cccccc;
  border-bottom-color:#eeeeee;
  border-right-color:#eeeeee;
}

input.submit {
  padding:3px;
  padding-left:10px;
  padding-right:10px;
  background-color:#D8D8D8;
  border:2px solid #cccccc;
  border-top-color:#eeeeee;
  border-left-color:#eeeeee;
}

form table td {
  border:none;
  width:70%;
}

form table th {
  text-align:left;
  font-weight:normal;
  border:none;
  background-color:transparent;
}

.message {
  font-weight: bold;
  border:4px solid #b33c00;
  padding:1em;
}

.tip {
  padding:0.7em;
  font-size:1.0em;
  background-color:#f0f0f0;
}

.userDN {
  padding-left:2.0em;
  font-weight:bold;
}
